{% load static %}
<!DOCTYPE html>
<html lang="fa">

	<!-- begin::Head -->
	
    {% include "partials/head.html" %}

	<!-- end::Head -->

	<!-- begin::Body -->
	<body dir="rtl"	 class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Header Mobile -->
        {% include "partials/MobileHeader.html" %}

		<!-- end:: Header Mobile -->

		<!-- begin:: Root -->
		<div class="kt-grid kt-grid--hor kt-grid--root">

			<!-- begin:: Page -->
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

				<!-- begin:: Aside -->
				
					<!-- end:: Aside Brand -->

					<!-- begin:: Aside Menu -->
                    {% include "partials/sidebar.html" %}
					<!-- end:: Aside Menu -->

					<!-- begin:: Aside Footer -->
					

				<!-- end:: Aside -->

				<!-- begin:: Wrapper -->
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

					<!-- begin:: Header -->
                    {% include "partials/header.html" %}
					<!-- end:: Header -->
					<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

						<!-- begin:: Subheader -->
	
                    {% include "partials/subheader.html" %}
						<!-- end:: Subheader -->

						<!-- begin:: Content -->
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

							<!--begin::Dashboard 1-->

<!-- -----------------------------------------------Start Primary Content----------------------------------------------- -->
						

							<!--begin::Row-->
							<div class="row">
								<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

									<!--begin::Portlet-->
									<div class="kt-portlet kt-portlet--height-fluid">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">Top Products</h3>
											</div>
											<div class="kt-portlet__head-toolbar">
												<div class="kt-portlet__head-toolbar-wrapper">
													<div class="dropdown dropdown-inline">
														<button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="flaticon-more-1"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-right">
															<ul class="kt-nav">
																<li class="kt-nav__section kt-nav__section--first">
																	<span class="kt-nav__section-text">Export Tools</span>
																</li>
																<li class="kt-nav__item">
																	<a href="#" class="kt-nav__link">
																		<i class="kt-nav__link-icon la la-print"></i>
																		<span class="kt-nav__link-text">Print</span>
																	</a>
																</li>
																<li class="kt-nav__item">
																	<a href="#" class="kt-nav__link">
																		<i class="kt-nav__link-icon la la-copy"></i>
																		<span class="kt-nav__link-text">Copy</span>
																	</a>
																</li>
																<li class="kt-nav__item">
																	<a href="#" class="kt-nav__link">
																		<i class="kt-nav__link-icon la la-file-excel-o"></i>
																		<span class="kt-nav__link-text">Excel</span>
																	</a>
																</li>
																<li class="kt-nav__item">
																	<a href="#" class="kt-nav__link">
																		<i class="kt-nav__link-icon la la-file-text-o"></i>
																		<span class="kt-nav__link-text">CSV</span>
																	</a>
																</li>
																<li class="kt-nav__item">
																	<a href="#" class="kt-nav__link">
																		<i class="kt-nav__link-icon la la-file-pdf-o"></i>
																		<span class="kt-nav__link-text">PDF</span>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-widget-1">
												<ul class="nav nav-pills nav-tabs-btn nav-pills-btn-brand" role="tablist">
													<li class="nav-item">
														<a class="nav-link active" data-toggle="tab" href="#kt_tabs_19_15cb6c0f7cd64a" role="tab">
															<span class="nav-link-icon"><i class="flaticon2-graphic"></i></span>
															<span class="nav-link-title">Settings</span>
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#kt_tabs_19_25cb6c0f7cd64a" role="tab">
															<span class="nav-link-icon"><i class="flaticon2-position"></i></span>
															<span class="nav-link-title">Code</span>
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#kt_tabs_19_35cb6c0f7cd64a" role="tab">
															<span class="nav-link-icon"><i class="flaticon2-layers-1"></i></span>
															<span class="nav-link-title">Design</span>
														</a>
													</li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane fade active show" id="kt_tabs_19_15cb6c0f7cd64a" role="tabpanel">
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">
																	HTML 5 Templates
																</a>
																<div class="kt-widget-1__item-desc">Font-end,Admin & Email</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+79%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-danger" role="progressbar" style="width: 79%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">
																	Wordpress Themes
																</a>
																<div class="kt-widget-1__item-desc">eCommerce Website, Plugin</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+21%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-brand" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">eCommerce Websites</a>
																<div class="kt-widget-1__item-desc">Shops, Fasion wep sites & atc</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">-16%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar  bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">UI/UX Design</a>
																<div class="kt-widget-1__item-desc">Evrything you ever imagine</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+4%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-focus" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">Freebie Themes</a>
																<div class="kt-widget-1__item-desc">Font-end & Admin</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+34</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-warning" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade" id="kt_tabs_19_25cb6c0f7cd64a" role="tabpanel">
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">UI/UX Design</a>
																<div class="kt-widget-1__item-desc">Evrything you ever imagine</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+4%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-focus" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">HTML 5 Templates</a>
																<div class="kt-widget-1__item-desc">Font-end,Admin & Email</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+79%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-danger" role="progressbar" style="width: 79%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">Wordpress Themes</a>
																<div class="kt-widget-1__item-desc">eCommerce Website, Plugin</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+21%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-brand" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">eCommerce Websites</a>
																<div class="kt-widget-1__item-desc">Shops, Fasion wep sites & atc</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">-16%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar  bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">Freebie Themes</a>
																<div class="kt-widget-1__item-desc">Font-end & Admin</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+34</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-info" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade" id="kt_tabs_19_35cb6c0f7cd64a" role="tabpanel">
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">eCommerce Websites</a>
																<div class="kt-widget-1__item-desc">Shops, Fasion wep sites & atc</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">-16%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar  bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">UI/UX Design</a>
																<div class="kt-widget-1__item-desc">Evrything you ever imagine</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+4%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-focus" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">Latest Trends</a>
																<div class="kt-widget-1__item-desc">eCommerce Website, Plugin</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+34%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">HTML 5 Templates</a>
																<div class="kt-widget-1__item-desc">Font-end,Admin & Email</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+79%</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-danger" role="progressbar" style="width: 79%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="kt-widget-1__item">
															<div class="kt-widget-1__item-info">
																<a href="#" class="kt-widget-1__item-title">Freebie Themes</a>
																<div class="kt-widget-1__item-desc">Font-end & Admin</div>
															</div>
															<div class="kt-widget-1__item-stats">
																<div class="kt-widget-1__item-value">+34</div>
																<div class="kt-widget-1__item-progress">
																	<div class="progress">
																		<div class="progress-bar bg-info" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
								
								<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

									<!--begin::Portlet-->
									<div class="kt-portlet kt-portlet--height-fluid kt-portlet--tabs">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Latest Tasks
												</h3>
											</div>
											<div class="kt-portlet__head-toolbar">
												<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-bold" role="tablist">
													<li class="nav-item">
														<a class="nav-link active show" data-toggle="tab" href="#kt_portlet_tabs_1_1_content" role="tab" aria-selected="false">
															Today
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_2_content" role="tab" aria-selected="false">
															Week
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_3_content" role="tab" aria-selected="true">
															Month
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="tab-content">
												<div class="tab-pane fade active show" id="kt_portlet_tabs_1_1_content" role="tabpanel">
													<div class="kt-widget-5">
														<div class="kt-widget-5__item kt-widget-5__item--info">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Management meeting
																</a>
																<div class="kt-widget-5__item-datetime">
																	09:30 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--danger">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Replace datatables rows color
																</a>
																<div class="kt-widget-5__item-datetime">
																	12:00 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--brand">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Export Navitare booking table
																</a>
																<div class="kt-widget-5__item-datetime">
																	01:20 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--success">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	NYCS internal discussion
																</a>
																<div class="kt-widget-5__item-datetime">
																	03: 00 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--danger">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Project Launch
																</a>
																<div class="kt-widget-5__item-datetime">
																	11: 00 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--success">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Server maintenance
																</a>
																<div class="kt-widget-5__item-datetime">
																	4: 30 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade" id="kt_portlet_tabs_1_2_content" role="tabpanel">
													<div class="kt-widget-5">
														<div class="kt-widget-5__item kt-widget-5__item--brand">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Export Navitare booking table
																</a>
																<div class="kt-widget-5__item-datetime">
																	01:20 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--danger">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Replace datatables rows color
																</a>
																<div class="kt-widget-5__item-datetime">
																	12:00 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--brand">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Export Navitare booking table
																</a>
																<div class="kt-widget-5__item-datetime">
																	01:20 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--danger">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Replace datatables rows color
																</a>
																<div class="kt-widget-5__item-datetime">
																	12:00 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--success">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	NYCS internal discussion
																</a>
																<div class="kt-widget-5__item-datetime ">
																	03: 00 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check ">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--info ">
															<div class="kt-widget-5__item-info ">
																<a href="#" class="kt-widget-5__item-title">
																	Management meeting
																</a>
																<div class="kt-widget-5__item-datetime ">
																	09:30 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check ">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane fade " id="kt_portlet_tabs_1_3_content" role="tabpanel">
													<div class="kt-widget-5 ">
														<div class="kt-widget-5__item kt-widget-5__item--success">
															<div class="kt-widget-5__item-info ">
																<a href="#" class="kt-widget-5__item-title">
																	NYCS internal discussion
																</a>
																<div class="kt-widget-5__item-datetime">
																	03: 00 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--danger">
															<div class="kt-widget-5__item-info ">
																<a href="#" class="kt-widget-5__item-title">
																	Replace datatables rows color
																</a>
																<div class="kt-widget-5__item-datetime">
																	12:00 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--danger">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Replace datatables rows color
																</a>
																<div class="kt-widget-5__item-datetime">
																	12:00 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--brand">
															<div class="kt-widget-5__item-info">
																<a href="#" class="kt-widget-5__item-title">
																	Export Navitare booking table
																</a>
																<div class="kt-widget-5__item-datetime">
																	01:20 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--brand">
															<div class="kt-widget-5__item-info ">
																<a href="#" class="kt-widget-5__item-title">
																	Export Navitare booking table
																</a>
																<div class="kt-widget-5__item-datetime ">
																	01:20 PM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
														<div class="kt-widget-5__item kt-widget-5__item--info">
															<div class="kt-widget-5__item-info ">
																<a href="#" class="kt-widget-5__item-title">
																	Management meeting
																</a>
																<div class="kt-widget-5__item-datetime">
																	09:30 AM
																</div>
															</div>
															<div class="kt-widget-5__item-check">
																<label class="kt-radio">
																	<input type="radio" checked="checked" name="radio1">
																	<span></span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!--end::Portlet-->
								</div>
								
							
							
							</div>

							<!--end::Row-->

<!-- -----------------------------------------------End Primary Content----------------------------------------------- -->


							<!--end::Dashboard 1-->
						</div>

						<!-- end:: Content -->
					</div>

					<!-- begin:: Footer -->
                    {% include "partials/footer.html" %}
					<!-- end:: Footer -->
				</div>

				<!-- end:: Wrapper -->
			</div>

			<!-- end:: Page -->
		</div>

		<!-- end:: Root -->




		

		<!-- begin::Global Config(global config for global JS sciprts) -->
		
        {% include "partials/script.html" %}
		<!--end::Page Scripts -->
	</body>

	<!-- end::Body -->
</html>