{% load static %}
<!DOCTYPE html>
<html lang="fa">

	<!-- begin::Head -->
	
    {% include "partials/head.html" %}

	<!-- end::Head -->

	<!-- begin::Body -->
	<body dir="rtl"	 class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Header Mobile -->
        {% include "partials/MobileHeader.html" %}

		<!-- end:: Header Mobile -->

		<!-- begin:: Root -->
		<div class="kt-grid kt-grid--hor kt-grid--root">

			<!-- begin:: Page -->
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

				<!-- begin:: Aside -->
				
					<!-- end:: Aside Brand -->

					<!-- begin:: Aside Menu -->
                    {% include "partials/sidebar.html" %}
					<!-- end:: Aside Menu -->

					<!-- begin:: Aside Footer -->
					

				<!-- end:: Aside -->

				<!-- begin:: Wrapper -->
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

					<!-- begin:: Header -->
                    {% include "partials/header.html" %}
					<!-- end:: Header -->
					<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

						<!-- begin:: Subheader -->
	
                    {% include "partials/subheader.html" %}
						<!-- end:: Subheader -->

						<!-- begin:: Content -->
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

							<!--begin::Dashboard 1-->

<!-- -----------------------------------------------Start Primary Content----------------------------------------------- -->
						

							<!--begin::Row-->
							

							<!--end::Row-->

<!-- -----------------------------------------------End Primary Content----------------------------------------------- -->


							<!--end::Dashboard 1-->
						</div>

						<!-- end:: Content -->
					</div>

					<!-- begin:: Footer -->
                    {% include "partials/footer.html" %}
					<!-- end:: Footer -->
				</div>

				<!-- end:: Wrapper -->
			</div>

			<!-- end:: Page -->
		</div>

		<!-- end:: Root -->




		

		<!-- begin::Global Config(global config for global JS sciprts) -->
		
        {% include "partials/script.html" %}
		<!--end::Page Scripts -->
	</body>

	<!-- end::Body -->
</html>