{% load static %}
<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

	<!-- begin:: Header Menu -->
	<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
	<div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
		<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout- ">
			<ul class="kt-menu__nav ">
				<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel kt-menu__item--active" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">واحد فناوری اطلاعات</span></a>
					
				</li>
				<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">خدمات مشتریان سبزوار</span></a>
					
				</li>
				
			</ul>
		</div>
	</div>
	
	<!-- end:: Header Menu -->
	
	<!-- begin:: Header Topbar -->
	<div class="kt-header__topbar">
	
	
		<!--begin: Notifications -->
		<div class="kt-header__topbar-item dropdown">
			<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px, 0px" aria-expanded="true">
				<span class="kt-header__topbar-icon">
					<i class="fa fa-bell shake_icon2"></i>
					<!-- <span class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand"></span> -->
				</span>
			</div>
			<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">
				<form>
					<div class="kt-head" style="background-image: url({{STATIC_URL}}media/misc/head_bg_sm.jpg)">
						<h3 class="kt-head__title">پیام های دریافتی</h3>
						<div class="kt-head__sub"><span class="kt-head__desc">20 پیام جدید</span></div>
					</div>
					<div class="kt-notification kt-margin-t-30 kt-margin-b-20 kt-scroll" data-scroll="true" data-height="270" data-mobile-height="220">
						<a href="#" class="kt-notification__item">
							<div class="kt-notification__item-icon">
								<i class="flaticon2-line-chart kt-font-success"></i>
							</div>
							<div class="kt-notification__item-details">
								<div class="kt-notification__item-title">
									ارسال بار تهران
								</div>
								<div class="kt-notification__item-time">
									2 ساعت قبل
								</div>
							</div>
						</a>
						<a href="#" class="kt-notification__item">
							<div class="kt-notification__item-icon">
								<i class="flaticon2-box-1 kt-font-brand"></i>
							</div>
							<div class="kt-notification__item-details">
								<div class="kt-notification__item-title">
									پیگیری سفارشات
								</div>
								<div class="kt-notification__item-time">
									3 ساعت قبل
								</div>
							</div>
						</a>
						<a href="#" class="kt-notification__item">
							<div class="kt-notification__item-icon">
								<i class="flaticon2-chart2 kt-font-danger"></i>
							</div>
							<div class="kt-notification__item-details">
								<div class="kt-notification__item-title">
									ورود به انبار
								</div>
								<div class="kt-notification__item-time">
									3 ساعت قبل
								</div>
							</div>
						</a>
						<a href="#" class="kt-notification__item">
							<div class="kt-notification__item-icon">
								<i class="flaticon2-image-file kt-font-warning"></i>
							</div>
							<div class="kt-notification__item-details">
								<div class="kt-notification__item-title">
									بررسی حقوق و دستمزد
								</div>
								<div class="kt-notification__item-time">
									5 ساعت قبل
								</div>
							</div>
						</a>
						
					</div>
				</form>
			</div>
		</div>
	
		<!--end: Notifications -->
	
	
		<!--begin:: Languages -->
		<div class="kt-header__topbar-item kt-header__topbar-item--langs">
			<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
				<span class="kt-header__topbar-icon">
					<img class="" src="{% static '/media/flags/020-flag.jpg' %}" alt="" />
				</span>
			</div>
			<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
				<ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
					<li class="kt-nav__item kt-nav__item--active">
						<a href="#" class="kt-nav__link">
							<span class="kt-nav__link-icon"><img src="{% static '/media/flags/020-flag.jpg' %}" alt="" /></span>
							<span class="kt-nav__link-text">فارسی</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	
		<!--end:: Languages -->
	
		<!--begin: User Bar -->
		<div class="kt-header__topbar-item kt-header__topbar-item--user">
			<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px, 0px">
				<div class="kt-header__topbar-user">
					<span class="kt-header__topbar-welcome kt-hidden-mobile">سلام </span>
					<span class="kt-header__topbar-username kt-hidden-mobile">psd</span>
					<img alt="Pic" src="{% static '/media/users/user.png' %}" />
	
					<!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
					<span class="kt-badge kt-badge--username kt-badge--lg kt-badge--brand kt-hidden kt-badge--bold">S</span>
				</div>
			</div>
			<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
				<div class="kt-user-card kt-margin-b-40 kt-margin-b-30-tablet-and-mobile" style="background-image: url({{STATIC_URL}}/media/misc/profile.jpg)">
					<div class="kt-user-card__wrapper">
						<div class="kt-user-card__pic">
							<img alt="Pic" src="{% static '/media/users/user.png' %}" />
						</div>
						<div class="kt-user-card__details">
							<div class="kt-user-card__name"></div>
							<div class="kt-user-card__position"> دهنده</div>
						</div>
					</div>
				</div>
				<ul class="kt-nav kt-margin-b-10">
					<li class="kt-nav__item">
						<a href="#" class="kt-nav__link">
							<span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
							<span class="kt-nav__link-text">پروفایل کاربری</span>
						</a>
					</li>
					<li class="kt-nav__item">
						<a href="#" class="kt-nav__link">
							<span class="kt-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
							<span class="kt-nav__link-text">وظایف</span>
						</a>
					</li>
					<li class="kt-nav__item">
						<a href="#" class="kt-nav__link">
							<span class="kt-nav__link-icon"><i class="flaticon2-mail"></i></span>
							<span class="kt-nav__link-text">پیام ها</span>
						</a>
					</li>
					
					<li class="kt-nav__item kt-nav__item--custom kt-margin-t-15">
						<a href="#" target="_blank" class="btn btn-label-brand btn-upper btn-sm btn-bold">خروج از حساب</a>
					</li>
				</ul>
			</div>
		</div>
	
		<!--end: User Bar -->
	
		
	</div>
	
	<!-- end:: Header Topbar -->
	</div>
	
	<!-- end:: Header -->