<!DOCTYPE html>

<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="content-wrapper">
                                <div class="content-header">
                                    <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <ol class="breadcrumb float-sm-left ">
                                                <li class="breadcrumb-item active">ارسال بار</li>
                                                <li class="breadcrumb-item active">اختصاص راننده</li>
                                            </ol>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                
                            
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-primary card-outline">
                                                    <div class="card-body">
                                                            <div class="row ">
                                                                <div class="col-lg-12">
                                                                    <table class="table table-bordered table-striped dataTable table-hover ">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>خریدار</th>
                                                                                <th>نام خریدار</th>
                                                                                <th>شناسه فاکتور</th>
                                                                                <th>شماره فاکتور</th>
                            
                                                                                <th>شهر</th>
                                                                                <th>موبایل</th>
                                                                                <th>تلفن</th>
                                                                                <th>اطلاعات</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for item in items %}
                                                                                <tr>
                                                                                    <td>{{item.0.0.obj_send_id}}</td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    
                                                                                    <td> </td>
                                                                                    <td> </td>
                                                                                    <td> </td>
                                                                                    <td>
                                                                                        <i class="fas fa-info-circle btn btn-xs btn-info btn-flat" data-container="body" data-toggle="popover" data-placement="top" data-content=""></i>
                                                                                        <i data-factor-id="1" data-toggle="modal" data-target="#modal-comment" class="fas fa-comment btn btn-xs  btn-flat btn-comment">&nbsp;</i>
                                                                                    </td>
                                                                                    <td>
                                                                                            <form method="get" action="" class="frm1">
                                                                                                <a class="btn btn-success btn-xs btn-assign-driver btn-class" data-factor-id="" data-toggle="modal" data-target="#modal-assign-driver">اختصاص راننده</a>
                                                                                                <button class="btn btn-primary btn-xs btn-class" type="submit">چاپ فاکتور</button>
                                                                                            </form>
                                                                                    </td>
                                                                                    {% endfor %}
                                                                        <tbody>

                                                                    </table>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal fade" id="modal-assign-driver">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                <h4 class="modal-title">اختصاص راننده</h4>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <form method="POST" action="" enctype="multipart/form-data" class="frm1">
                                        <input type="hidden" name="factor_id" id="factor_id">
                                        <div class="modal-body">
                                                    <div class="form-group form-group-sm row">
                                                        <div class="col-sm-8">
                                                            <select class="form-control select2bs4 rtl text-left" style="width: 100%;" name="drive_id" data-allow-clear="true">
                                                                        <option value="4012001" >حسن عاقلی</option>        
                                                                        <option value="4012003">حمل با مشتری</option>
                                                                        <option value="4012008" >شهاب محسنی</option>
                                                                        <option value="4012009" >علی سعیدی</option>
                                                                        <option value="4012010" >محمد نوری</option>
                                                                        <option value="4012011" >فرهاد چنگی</option>
                                                                        <option value="4012012" >امیر دیواندری</option>
                                                                        <option value="4012013" >اسنپ</option>
                                                                        <option value="4012014" >جلال علی آبادی</option>
       
                                                            </select>
                                                        </div>
                                                        <label for="drive_id" class="col-sm-4 col-form-label">راننده</label>

                                                    </div>
                                                    <div class="form-group form-group-sm row">
                                                        <div class="col-sm-8">
                                                            <input type="text" name="drive_desc" class="form-control rtl" id="drive_desc" placeholder="توضیحات" value="">
                                                        </div>
                                                        <label for="drive_desc" class="col-sm-4 col-form-label">توضیحات</label>
                                                    </div>
                            
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="submit" class="btn btn-primary btn-class">اختصاص</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                        </div>
                                    </form>
                                </div>
                                    <!-- /.modal-content -->
                            </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <div class="modal fade" id="modal-comment">
                                <form method="post" action="">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header rtl">
                                            <h4 class="modal-title">پیام‌ها</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12 body">
                                                </div>
                                            </div>
                                            <input type="hidden" name="factor_id" id="factor-id-val">
                                            <input type="hidden" name="level" value="">
                                            <input type="text" name="comment" class="form-control rtl" placeholder="متن پیام">
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="submit" class="btn btn-primary">ثبت پیام</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->

        <!-- begin:: Topbar Offcanvas Panels -->

        <!-- begin::Offcanvas Toolbar Quick Actions -->
        <!-- <div id="kt_offcanvas_toolbar_quick_actions" class="kt-offcanvas-panel">
            <div class="kt-offcanvas-panel__head">
                <h3 class="kt-offcanvas-panel__title">
                    Quick Actions
                </h3>
                <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_quick_actions_close"><i
                        class="flaticon2-delete"></i></a>
            </div>
            <div class="kt-offcanvas-panel__body">
                <div class="kt-grid-nav-v2">
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Orders</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Uploades</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Products</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Customers</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Blog Posts</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Settings</div>
                    </a>
                </div>
            </div>
        </div> -->

        <!-- end::Offcanvas Toolbar Quick Actions -->

        <!-- end:: Topbar Offcanvas Panels -->

        <!-- begin:: Quick Panel -->
        
        <!-- end:: Scrolltop -->

        <!-- begin:: Demo Toolbar -->

        <!-- end:: Demo Toolbar -->


        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}

        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>