{% load converter_tags %}
{% load static %}
<!DOCTYPE html>

<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="content-wrapper">
                                <div class="content-header">
                                    <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <ol class="breadcrumb float-sm-left ">
                                                <li class="breadcrumb-item active">مشتریان</li>
                                                <li class="breadcrumb-item">ثبت دریافت از مشتری</li>
                                            </ol>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-primary card-outline">
                                                    <div class="card-body">
                                                            <div class="row ">
                                                                <div class="col-lg-12">
                                                                    <table class="table table-bordered table-striped dataTableDisable table-hover ">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>شعبه</th>
                                                                                <th>کد مشتری</th>
                                                                                <th>نام مشتری</th>
                                                                                <th>نوع</th>
                                                                                <th>بانک</th>
                                                                                <th>شماره</th>
                                                                                <th>نام شعبه</th>
                                                                                <th>مالک حساب</th>
                                                                                <th>توضیحات</th>
                                                                                <th>زمان ثبت</th>
                                                                                <th>مبلغ</th>
                                                                                <th>تصویر</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                {% for item in obj_payments %}
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td>{{item.obj_item_id}}</td>
                                                                                    <td></td>
                                                                                    <td>{{item.type|name_to_type}}</td>
                                                                                    {% if item.bank_id == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>{{item.bank_id|id_to_bank}}</td>
                                                                                    {% endif %}
                                                                                    <td>{{item.no}}</td>
                                                                                    {% if branch_name == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>{{item.branch_name}}</td>
                                                                                    {% endif %}
                                                                                    {% if item.owner == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>{{item.owner}}</td>
                                                                                    {% endif %}
                                                                                    {% if item.description == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>{{item.description}}</td>
                                                                                    {% endif %}
                                                                                    <td>{{item.reg_dt|to_jalali}}</td>
                                                                                    <td>{{item.price}}</td>
                                                                                    <td><img class="img img-rectangle img-popup-img-src" style="width: 30px;" src=""></td>
                                                                                    <td>   
                                                                                        <a class="btn btn-success btn-xs btn-acc-confirm" data-payment="{{item.obj_payment_id}}" data-price="" data-toggle="modal" data-target="#modal-payment">
                                                                                            <i class="far fa-file-alt"></i> ثبت سند
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                                 
                                                                        <tbody>
                                                                    </table>
                                                                    <div id="myModal" class="img-popup-modal">
                                                                    
                                                                        <img class="img-popup-modal-content" id="img-popup-img">
                                                                        <div id="img-popup-caption"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        
                            <div class="modal fade" id="modal-payment">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">ثبت سند </h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="POST" action="{% url 'customer:CustomerPaymentConfirms' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="obj_payment_id" class="obj_payment_id">
                                            <div class="modal-body">
                                                        <div class="form-group form-group-sm row">
                                                            <div class="col-sm-8">
                                                                <input class="form-control " name="doc_no" id="doc_no" placeholder="شماره سند ">
                                                            </div>
                                                            <label for="price" class="col-sm-4 col-form-label">شماره سند </label>
                                                        </div>
                                                        <div class="form-group form-group-sm row">
                                                            <div class="col-sm-8">
                                                                <input type="text" name="roc_register_desc" class="form-control rtl" id="roc_register_desc" placeholder="توضیحات" >
                                                            </div>
                                                            <label for="confirm_desc" class="col-sm-4 col-form-label">توضیحات</label>
                                                        </div>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="submit" class="btn btn-primary">اعلام وضعیت</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->

        <!-- begin:: Topbar Offcanvas Panels -->

        <!-- begin::Offcanvas Toolbar Quick Actions -->
        <!-- <div id="kt_offcanvas_toolbar_quick_actions" class="kt-offcanvas-panel">
            <div class="kt-offcanvas-panel__head">
                <h3 class="kt-offcanvas-panel__title">
                    Quick Actions
                </h3>
                <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_quick_actions_close"><i
                        class="flaticon2-delete"></i></a>
            </div>
            <div class="kt-offcanvas-panel__body">
                <div class="kt-grid-nav-v2">
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Orders</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Uploades</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Products</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Customers</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Blog Posts</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Settings</div>
                    </a>
                </div>
            </div>
        </div> -->

        <!-- end::Offcanvas Toolbar Quick Actions -->

        <!-- end:: Topbar Offcanvas Panels -->

        <!-- begin:: Quick Panel -->
        
        <!-- end:: Scrolltop -->

        <!-- begin:: Demo Toolbar -->

        <!-- end:: Demo Toolbar -->


        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}

        <script>
            $(document).ready(function() {
                // Listen for the button click event
                $('.btn-acc-confirm').click(function() {
                    // Get the value of 'data-payment' attribute from the clicked button
                    var objPaymentId = $(this).data('payment');
                    
                    // Set the 'obj_payment_id' field in the modal form
                    $('#modal-payment input[name="obj_payment_id"]').val(objPaymentId);
                });
            });
        </script>   

        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>