{% load static %}
{% load converter_tags %}
<!DOCTYPE html>
<!-- 
    - Search function should be fixed here
    - New customer function should be enabled through python forms.py
    - If there are more buttons in the last column in the list they should be added as well, the functionalities are for later
 -->
<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="kt-portlet kt-portlet--mobile">

                                <div class="kt-portlet__body">

                                    <!--begin: Search Form -->
                                    <div class="kt-form kt-fork--label-right kt-margin-t-20 kt-margin-b-10">
                                        <div class="row align-items-center">
                                            <div class="col-xl-8 order-2 order-xl-1">
                                                <div class="row align-items-center">
                                                    <div class="col-md-6 kt-margin-b-20-tablet-and-mobile">
                                                        <div class="kt-input-icon kt-input-icon--left" style="display: flex;
                                                        align-items: center;">
                                                            <input type="text" class="form-control"
                                                                placeholder="...جستجو" id="generalSearch">
                                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                <a><span><i class="la la-search"></i></span></a>
                                                            </span>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 kt-margin-b-20-tablet-and-mobile">
                                                        <div class="kt-form__group kt-form__group--inline">
                                                        
                                                                <button class="btn btn-primary btn-md" data-toggle="modal" data-target=".bd-example-modal-lg">ثبت مشتری جدید</button>
                                                                <!-- Large Modal -->
													<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title">ثبت مشتری جدید</h5>
																	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																		<span aria-hidden="true">&times;</span>
																	</button>
																</div>
																<div class="modal-body">
																	<!--begin::Form-->
										<form class="kt-form kt-form--label-right" method="POST" action="{% url 'customer:NewCustomer' %}">
                                            {% csrf_token %}
											<div class="kt-portlet__body">

												<div class="form-group row">
													<div class="col-lg-4">
														<label class="kt-font-dark kt-font-boldest">نام کامل مشتری</label>
														<div class="kt-input-icon">
															<input type="text" name="name" class="form-control" placeholder="نام و نام خانوادگی">
															<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="fa fa-user text-primary"></i></span></span>
														</div>
													</div>
                                                    <div class="col-lg-4 form-group-sub">
																<label class="form-control-label kt-font-dark kt-font-boldest">شهر </label>
																<select class="form-control" name="city">
																	<option >انتخاب کنید</option>
																	<option value="999002002">تهران</option>
																	<option value="999002001">سبزوار</option>
																	<option value="999002003">کرج</option>
																	<option value="999002024">اسفراین</option>
															
																</select>
															</div>
													<div class="col-lg-4">
														<label class="kt-font-dark kt-font-boldest">شماره موبایل</label>
														<div class="kt-input-icon">
															<input type="text" name="mobile" class="form-control" placeholder="شماره موبایل مشتری">
															<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="fa fa-mobile text-danger"></i></span></span>
														</div>
														
													</div>
												</div>
                                                
												<div class="form-group row">
													<div class="col-lg-4">
                                                    <label class="kt-font-dark kt-font-boldest">تلفن ثابت</label>
														<div class="kt-input-icon">
															<input type="text" name="phone" class="form-control" placeholder="021-0000000">
															<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="fa fa-phone text-danger"></i></span></span>
														</div>
														<span class="form-text text-muted">شماره تلفن  با پیش شماره وارد شود</span>
													</div>
                                                    
													<div class="col-lg-8">
                                                    <label class="kt-font-dark kt-font-boldest">آدرس مشتری</label>
														<div class="kt-input-icon">
															<input type="text" name="address" class="form-control" placeholder="استان - شهرستان - خیابان اصلی - خیابان فرعی - پلاک">
															<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="fa fa-search-location text-warning"></i></span></span>
														</div>
														<span class="form-text text-muted">لطفا آدرس دقیق  را وارد نمایید</span>
														
													</div>
												</div>

												<div class="form-group row">
													<div class="col-lg-3">

														<label class="kt-font-dark kt-font-boldest">جنسیت</label>
														<div class="kt-radio-inline">
															<label class="kt-radio kt-radio--solid">
																<input type="radio" name="sex" value="999015001"> مرد
																<span></span>
															</label>
															<label class="kt-radio kt-radio--solid">
																<input type="radio" name="sex_id" value="999015002"> زن
																<span></span>
															</label>
														</div>
													
													</div>
                                                    <div class="col-lg-3">
                                                    <label class="kt-font-dark kt-font-boldest">شماره شناسنامه</label>
														<div class="kt-input-icon">
															<input type="text" name="idno" class="form-control" placeholder="">
															<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="fa fa-book-reader text-info"></i></span></span>
														</div>
													
													</div>
                                                    <div class="col-lg-3">
                                                    <label class="kt-font-dark kt-font-boldest">کد ملی</label>
														<div class="kt-input-icon">
															<input type="text" name="codemeli" class="form-control" placeholder="">
															<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="fa fa-address-card text-info"></i></span></span>
														</div>
														
													</div>
                                                    <div class="col-lg-3">
                                                    <label class="kt-font-dark kt-font-boldest">کد معرف</label>
														<div class="kt-input-icon">
															<input type="text" name="reagent" class="form-control" placeholder="">
															<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="fa fa-sign-language text-info"></i></span></span>
														</div>
														
													</div>
												</div>
											</div>
											<div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                                                <button type="submit" class="btn btn-brand">ثبت مشتری</button>
                                            </div>
										</form>

										<!--end::Form-->
																</div>
																
															</div>
														</div>
													</div>
                                                            
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!--end: Search Form -->
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    
                                    <!--begin: Datatable -->
                                    <table class="kt-datatable kt-font-boldest kt-font-dark" id="html_table" width="100%">
                                        <thead>
                                            <tr class="kt-font-boldest kt-font-dark">
                                                <th title="Field #1">کد مشتری</th>
                                                <th title="Field #2">نام کامل</th>
                                                <th title="Field #3">شهر</th>
                                                <th title="Field #4">کد ملی</th>
                                                <th title="Field #5">موبایل</th>
                                                <th title="Field #6">ثبت فاکتور</th>
                                                <th title="Field #7">عملیات مشتری</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in page %}
                                            <tr>
                                                <td>{{ item.obj_item_id }}</td>
                                                <td>{{item.name}}</td>
                                                {% if item.city_id == None %}
                                                <td></td>
                                                {% else %}
                                                <td>{{item.city_id|id_to_city}}</td>
                                                {% endif %}
                                                {% if item.codemeli == None %}
                                                <td></td>
                                                {% else %}
                                                <td>{{item.codemeli}}</td>
                                                {% endif %}
                                                {% if item.mobile == None %}
                                                <td></td>
                                                {% else %}
                                                <td>{{item.mobile}}</td>
                                                {% endif %}
                                                <td>
                                                    <a class="badge badge-success text-white" href="{% url 'customer:NewFactor' %}">ثبت فاکتور
                                                        مشتری</a>
                                                        
                                                </td>
                                                <td>

                                                    <div class="dropdown dropdown-inline">
														<button type="button" class="btn btn-hover-brand btn-elevate-hover chngeColor1 btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="flaticon-more-1"></i>
														</button>
														<div class="dropdown-menu dropdown-menu">
                                                            
                                                            {% for payment in obj_payments %}
                                                                {% if payment.obj_item_id == item.obj_item_id %}
                                                                <a class="dropdown-item kt-font-dark" href="#"><i class="fa fa-plus-square text-warning kt-font-bold"></i>1</a>
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% for factor in factors %}
                                                                {% if factor.buyer_id == item.obj_item_id %}
                                                                <a class="dropdown-item kt-font-dark" href="#"><i class="fa fa-bookmark kt-font-bold text-warning"></i>فاکتور {{factor.reg_dt|to_jalali}}</a>
                                                                {% endif %}
                                                            {% endfor %}
                                                            {% for ticket in tickets %}
                                                                {% if ticket.obj_item_id == item.obj_item_id %}
                                                                <a class="dropdown-item kt-font-dark" href="#"><i class="fa fa-bookmark kt-font-bold text-warning"></i> تیکت {{ticket.reg_dt|to_jalali}}</a>
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% for prefactor in pre_factors %}
                                                                {% if prefactor.obj_item_id == item.obj_item_id %}
                                                                <a class="dropdown-item kt-font-dark" href="#"><i class="fa fa-bookmark kt-font-bold text-warning"></i>  پیش فاکتور</a>
                                                                {% endif %}
                                                            {% endfor %}
														</div>
													</div>
                                                   
                         
                                                 
                                              
                                                    <a id="myBtn" class="badge badge-primary text-white badge-sm" data-buyer="{{ item.obj_item_id }}" data-toggle="modal" data-target="#modal-inquiry">دریافت از مشتری</a>
                
                                                    <a class="badge badge-primary text-white badge-sm" data-customer-id=""  data-toggle="modal" data-target="#modal-pre-factor"> 

                                                        پیش خرید
                                                    </a>

                                                    <a class="badge badge-primary text-white badge-sm" style="" data-buyer="{{ item.obj_item_id }}" data-toggle="modal" data-target="#modal-inquiry">استعلام حساب</a>

                                                </td>

                                            </tr>
                                            {% endfor %}
                                            
                                           


                                        </tbody>
                                        
                                    </table>
                                   
                                </div>
                            </div>
                            
                            
                        </div>
                        </div>
                        <div class="modal fade" id="modal-inquiry">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header rtl">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">استعلام حساب</h4>
                                </div>
                                <form method="POST" action="{% url 'customer:customerindexAll' %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <input id="hiddenInput" type="hidden" name="buyer" value="">    
                                        <input type = "hidden"   name="register" value="{{request.user.user_id}}" >                                     
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <select class="form-control select2bs4" style="width: 100%;" name="bank_id" data-placeholder="بانک" data-allow-clear="true">
                                                    {% for bank in banks %}
                                                    <option value="{{bank.bank_id}}" > {{bank.name}}</option>
                                                    {% endfor %}
                                            </select>
                                            </div>
                                            <label for="bank_id" class="col-sm-4 col-form-label">بانک</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <input type="text" name="bank_code" id="bank_code" class="form-control rtl" placeholder="کد شعبه" value="">
                                            </div>
                                            <label for="bank_code" class="col-sm-4 col-form-label">* کد شعبه</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <input type="text" name="bank_branch" id="bank_branch" class="form-control rtl " placeholder="نام شعبه" value="">
                                            </div>
                                            <label for="bank_branch" class="col-sm-4 col-form-label">* نام شعبه</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <input type="text" name="account_owner" class="form-control rtl " id="account_owner" placeholder="نام صاحب حساب" value="">
                                            </div>
                                            <label for="account_owner" class="col-sm-4 col-form-label">نام صاحب حساب</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <input type="text" name="account_owner_nat_code" class="form-control rtl " id="account_owner_nat_code" placeholder="کد ملی صاحب حساب" value="">
                                            </div>
                                            <label for="account_owner_nat_code" class="col-sm-4 col-form-label">کد ملی صاحب حساب</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <input type="text" name="account_sayadi" class="form-control" id="account_sayadi" placeholder="شماره صیادی" value="">
                                            </div>
                                            <label for="account_sayadi" class="col-sm-4 col-form-label">* شماره صیادی</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <input type="text" name="account_no" class="form-control" id="account_no" placeholder="شماره حساب" value="">
                                            </div>
                                            <label for="account_no" class="col-sm-4 col-form-label">* شماره حساب</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                                <input type="text" name="cheque_price" id="cheque_price" class="form-control" placeholder="مبلغ چک‌ها" value="">
                                            </div>
                                            <label for="cheque_price" class="col-sm-4 col-form-label">* مبلغ خرید</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                                <input type="text" name="cheque_count" id="cheque_count" class="form-control" placeholder="تعداد چک‌ها" value="">
                                            </div>
                                            <label for="cheque_count" class="col-sm-4 col-form-label">* تعداد چک</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                                <input type="text" name="description" class="form-control rtl" id="description" placeholder="توضیحات" value="">
                                            </div>
                                            <label for="description" class="col-sm-4 col-form-label">توضیحات</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" name="cheque_image" id="cheque_image" class="rtl custom-file-input" placeholder="تصویر چک‌ها" value="">
                                                    <label class="custom-file-label" for="exampleInputFile">تصویر چک</label>
                                                </div>
                                            </div>
                                            <label for="cheque_image" class="col-sm-4 col-form-label">تصویر چک‌ها</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="submit" class="btn btn-primary">ثبت استعلام</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                    </div>
                                </form>
                        
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                        <!-- end:: Content -->
                    </div>

                    
                    <div class="modal fade" id="modal-search">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">جستجو</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="get" action="#">
                                <div class="modal-body">
                                        <div class="input-group mb-3 rtl">
                                            <input type="text" name="search" class="form-control" placeholder="نام، شماره تلفن، موبایل، کد ملی، کد مشتری" aria-label="search" aria-describedby="search">
                                        </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="submit" class="btn btn-primary">جستجو</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <div class="modal fade" id="modal-inquiry1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header rtl">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">دریافت از مشتری</h4>
                            </div>
                            <form method="POST" action="{% url 'customer:customerindex' %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <input id="hiddenInput1" type="hidden" name="buyer" value="">
                                    <input type="hidden" value="{{request.user.user_id}}" name="register" class="customer_id">
                                    <div class="form-group form-group-sm row">
                                        <div class="col-sm-8">
                                            <select class="form-control select2bs4" style="width: 100%;" name="pay_level" data-placeholder="نحوه پرداخت" data-allow-clear="true">
                                                    
                                                                                                                        
                                                    <option value="'CASH'">وجه نقد</option>
                                                    <option value="'CART'">کارت خوان</option>
                                                    <option value="'CARTOCART'">کارت به کارت</option>
                                                    <option value="'CHEQUE'">چک</option>
                                            </option>
                                            
                                            </select>
                                            </div>
                                            <label for="pay_level" class="col-sm-4 col-form-label">نحوه پرداخت</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <input type="text" name="price" id="price" class="form-control rtl text-right" placeholder="مبلغ پرداخت" value="">
                                            </div>
                                            <label for="price" class="col-sm-4 col-form-label">مبلغ پرداخت</label>
                                        </div>
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                            <input type="text" name="description" id="description" class="form-control rtl text-right" placeholder="توضیحات" value="">
                                            </div>
                                            <label for="description" class="col-sm-4 col-form-label">* توضیحات</label>
                                        </div>
                                        
                                        <div class="form-group form-group-sm row">
                                            <div class="col-sm-8">
                                                <div class="custom-file">
                                                    <input type="file" name="uri" id="uri" class="rtl custom-file-input" placeholder="تصویر پرداختی" value="">
                                                    <label class="custom-file-label" for="exampleInputFile">تصویر پرداختی</label>
                                                </div>
                                            </div>
                                            <label for="uri" class="col-sm-4 col-form-label">تصویر پرداختی</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="submit" class="btn btn-primary">ثبت</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                    </div>
                                </form>
                            </div>
                            
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    
                    
                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>
        
        <!-- end:: Root -->

        <!-- begin:: Topbar Offcanvas Panels -->

        <!-- begin::Offcanvas Toolbar Quick Actions -->
        <!-- <div id="kt_offcanvas_toolbar_quick_actions" class="kt-offcanvas-panel">
            <div class="kt-offcanvas-panel__head">
                <h3 class="kt-offcanvas-panel__title">
                    Quick Actions
                </h3>
                <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_quick_actions_close"><i
                        class="flaticon2-delete"></i></a>
            </div>
            <div class="kt-offcanvas-panel__body">
                <div class="kt-grid-nav-v2">
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Orders</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Uploades</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Products</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Customers</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Blog Posts</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Settings</div>
                    </a>
                </div>
            </div>
        </div> -->

        <!-- end::Offcanvas Toolbar Quick Actions -->

        <!-- end:: Topbar Offcanvas Panels -->

        <!-- begin:: Quick Panel -->
        
        <!-- end:: Scrolltop -->

        <!-- begin:: Demo Toolbar -->

        <!-- end:: Demo Toolbar -->

        <script>
            
            document.addEventListener('DOMContentLoaded', function() {
                const inquiryLinks = document.querySelectorAll('.inquiry-link');
                const hiddenInput = document.getElementById('hiddenInput');
    
                inquiryLinks.forEach(link => {
                    link.addEventListener('click', function() {
                        const buyerValue = link.getAttribute('data-buyer');
                        hiddenInput.value = buyerValue;
                        console.log('Value copied:', buyerValue);
                        console.log('Hidden input value:', hiddenInput.value);
                    });
                });
            });
        </script>
        <!-- begin::Global Config(global config for global JS sciprts) -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


        {% include "partials/script.html" %}

        <script>
            
        </script>

        

        


        <script>
            document.addEventListener("DOMContentLoaded", function() {
                // Get the anchor tag element by its id
                const myBtn = document.getElementById("myBtn");
              });
         </script>

        <script>
            $(document).ready(function() {
                // Event listener for the "Enter" key press on the search box.
                $("#generalSearch").on("keydown", function(e) {
                    if (e.keyCode === 13) {  // Check for "Enter" key
                        e.preventDefault();  // Prevent the default action (form submission, if any)
                        var value = $(this).val().toLowerCase();
                        
                        // First, remove any previous highlights.
                        $("tbody tr span.highlighted").each(function() {
                            var text = $(this).text();
                            $(this).replaceWith(text);
                        });
                        
                        // Filter and highlight matched text in table rows based on the input.
                        $("tbody tr").filter(function() {
                            var matched = false;
                            var row = $(this);
                            
                            // Check each cell in the row.
                            $(this).find('td').each(function() {
                                var cellText = $(this).text();
                                if (cellText.toLowerCase().indexOf(value) > -1) {
                                    // Highlight matched text.
                                    var regex = new RegExp('(' + value + ')', 'gi');
                                    $(this).html(cellText.replace(regex, '<span class="highlighted">$1</span>'));
                                    matched = true;
                                }
                            });
                            
                            row.toggle(matched);
                        });
                    }
                });
            });
            </script>
      
   
        
        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>