
{% load static %}
{% load converter_tags %}
<!DOCTYPE html>

<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="content-wrapper">
                                <div class="content-header">
                                    <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <ol class="breadcrumb float-sm-left ">
                                                <li class="breadcrumb-item active">ارسال بار</li>
                                                <li class="breadcrumb-item active">اعلان وضعیت ارسال بار </li>
                                            </ol>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-primary card-outline">
                                                    <div class="card-body">
                                                            <div class="row ">
                                                                <div class="col-lg-12">
                                                                    <table class="table table-bordered table-striped dataTable table-hover ">
                                                                        <thead>
                                                                            
                                                                            <tr>
                                                                                    
                                                                                <th>راننده</th>
                                                                                <th>خریدار</th>
                                                                                <th>نام خریدار</th>
                                                                                
                                                                                <th>شناسه فاکتور</th>
                                                                                <th>شماره فاکتور</th>
                            
                                                                                <th>شهر</th>
                                                                                <th>موبایل</th>
                                                                                <th>تلفن</th>
                                                                             
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for item in items %}
                                                                                
                                                                                <tr>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td>{{item.0.1.receiver}}</td>   <!--نام خریدار-->
                                                                                    <td>{{item.1.1}}</td> <!--شناسه فاکتور-->
                                                                                    <td>{{item.1.0}}</td> <!-- شماره فاکتور-->
                                                                                    
                                                                                   
                                                                                    <td>    <!-- شهر -->
                                                                                        {{item.0.1.city_id|id_to_city}}
                                                                                    </td>
                                                                                    
                                                                                    
                                                                                    
                                                                                    <td>{{item.0.1.mobile}}</td>   <!-- موبایل -->
                                                                                    {% if item.0.1.phone == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>{{item.0.1.phone}}</td> 
                                                                                    {% endif %}
                                                                                    <td>
                                                                                        <i data-factor="{{item.1.0}}" data-toggle="modal" data-target="#modal-comment"
                                                                                           data-fetch-url="{% url 'customer:fetch_comments' %}?factor_id={{item.1.0}}" class="fas fa-comment btn btn-xs btn-flat btn-comment" data-row-index="{{ forloop.counter }}">&nbsp;</i>
                                                                                    
                                                                                    </td>
                                                                                    <td>
                                                                                        <a class="btn btn-success btn-xs btn-assign-driver" data-real-factor-id="1" data-product="{{item.0.1.goods}}" data-factor="{{item.1.0}}" data-obj="{{item.0.0.obj_send_id}}" data-toggle="modal" data-target="#modal-assign-driver">
                                                                                            <i class="fas fa-bell"></i> اعلام وضعیت
                                                                                        </a>   
                                                                                    </td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                        <tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal fade" id="modal-assign-driver">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">اعلام وضعیت</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- <form method="POST" action="" enctype="multipart/form-data" autocomplete="off" id="driver-status-form"> -->
                                        <form method="POST" action="{% url 'customer:CustomerFactorSendStatus' %}" enctype="multipart/form-data" class="frm1" autocomplete="off">
                                        {% csrf_token %}
                                        <input type="hidden" name="factor_id" id="factor_id">
                                        <input type="hidden" name="product_id" id="product_id">
                                        <input type="hidden" name="obj_send_id" id="obj_send_id" >
                                        <div class="modal-body">
                                                    <div class="form-group form-group-sm row">
                                                        <div class="col-sm-10">
                                                            <select class="form-control rtl text-left" style="width: 100%;" name="drive_status" id="drive_status">
                                                                    <option value="CONFIRM">بار تحویل گردید</option>
                                                                    <option value="REJECT">بار برگشت خورد</option>
                                                            </select>
                                                        </div>
                                                        <label for="drive_status" class="col-sm-2 col-form-label">وضعیت</label>
                                                    </div>
                                                    <div class="form-group form-group-sm row">
                                                    </div>
                                                    <div class="form-group form-group-sm row">
                                                        <div class="col-sm-10">
                                                            <input type="text" name="price" class="form-control numeric ltr" id="price" placeholder="مبلغ هزینه" value="">
                                                        </div>
                                                        <label for="price" class="col-sm-2 col-form-label">مبلغ هزینه</label>
                                                    </div>
                                                    <div class="form-group form-group-sm row">
                                                        <div class="col-sm-10">
                                                            <input type="text" name="drive_status_desc" class="form-control rtl" id="drive_status_desc" placeholder="توضیحات" value="">
                                                        </div>
                                                        <label for="drive_status_desc" class="col-sm-2 col-form-label">توضیحات</label>
                                                    </div>
                                                    <hr>
                            
                                                    <div class="col-lg-12">
                                                        <div class="card card-secondary card-outlines">
                                                            <div class="card-header row rtl">
                                                                    <div class="col-md-6 text-right">شماره سریال</div>
                                                            </div>
                                                            <div class="card-body">
                                                                <table class="table table- rtl" id="table-serial">
                                                                    <thead>
                                                                        <tr>
                                                                            <td>کد محصول</td>
                                                                            <td>نام محصول</td>
                                                                            
                                                                            
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                        <td> </td>
                                                                        
                                                                        <td>
                                                                            <input type="text" name="send_serial[]">
                                                                        </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="card card-secondary card-outlines">
                                                            <div class="card-header row rtl">
                                                                    <div class="col-md-6 text-right">پرداختی</div>
                                                                    <div class="col-md-6 text-left">
                                                                        <button type="button" class="add-new-payment btn btn-success btn-sm">+</button>
                                                                    </div>
                                                            </div>
                                                            <div class="card-body card-body-payment">
                                                            </div>
                                                            
                                                        </div> 
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="card card-secondary card-outlines">
                                                            <div class="card-header row rtl">
                                                                    <div class="col-md-6 text-right">مدارک</div>
                                                                    <div class="col-md-6 text-left">
                                                                        <button type="button" class="add-new-documrnt btn btn-success btn-sm">+</button>
                                                                    </div>
                                                            </div>
                                                            <div class="card-body card-body-document">
                                                            </div>
                                                        </div> 
                                                    </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="submit" class="btn btn-primary btn-class">اعلام وضعیت</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                        </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            
                            <div class="modal fade" id="modal-comment">
                                <form method="post" action="{% url 'customer:addcomment' %}">
                                {% csrf_token %}
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header rtl">
                                            <h4 class="modal-title">پیام‌ها</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12 body">
                                                    <div id="comments-body" class="list-group">
                                                       

                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="factor_id" id="factor-id-val">
                                            <input type="hidden" name="level" value="">
                                            <input type="text" name="comment" class="form-control rtl" placeholder="متن پیام">
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="submit" class="btn btn-primary">ثبت پیام</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                            
                            <script>
                               
                            </script>
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->



        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}

        <script>
            document.addEventListener('DOMContentLoaded', function() {
            var buttons = document.querySelectorAll('.btn-assign-driver');
            buttons.forEach(function(button) {
            button.addEventListener('click', function() {
            var factor_id = this.getAttribute('data-factor');
            var obj_send_id = this.getAttribute('data-obj');
            var product_id = this.getAttribute('data-product');
            document.getElementById('factor_id').value = factor_id;
            document.getElementById('product_id').value = product_id;
            document.getElementById('obj_send_id').value = obj_send_id;
            console.log("factor_id:", factor_id);
            console.log("obj_send_id:", obj_send_id);
            console.log("product_id:", product_id);
            // Clear the table
            var tableBody = document.querySelector("#table-serial tbody");
            tableBody.innerHTML = '';

            // Send AJAX request to Django view to fetch matching ObjSendSerial objects
            $.get('fetch_objsendserials/', { factor_id: factor_id, product_id: product_id }, function(data){
                // Assuming the server returns a list of ObjSendSerial objects
                console.log(data);
                data.forEach(function(item) {
                    var newRow = "<tr>";
                    newRow += "<td>" + item.product_id + "</td>"; // Added the name field here
                    newRow += "<td>" + item.name + "</td>"; 
                    newRow += "<td>" + item.title + "</td>"; 
                    
                    
                    newRow += "<td><input type='text' name='send_serial[]'></td>";
                    newRow += "</tr>";

                    tableBody.innerHTML += newRow;
                });
            });
        });
    });
});
  
        </script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Get the button element by its class name
    let addDocumentButton = document.querySelector('.add-new-documrnt');

    // Attach a click event listener to the button
    addDocumentButton.addEventListener('click', function() {
        // The HTML you want to append
        let documentHTML = `
            <div class="document-item row rtl mt-1 p-2" style="background-color:#F3F8F9;border-right: 2px solid cornflowerblue; border-radius: 20px 0 0 20px">
                <div class="col-md-4">
                    <select class="form-control form-control-sm" style="border-radius: 9px;" name="document_type[]"> 
                        <option value="CART">کارت خوان</option>
                        <option value="FORM">رسید مشتری</option>
                        <option value="GUARANTY">گارانتی</option>
                        <option value="CHEQUE">چک</option>
                        <option value="OTHER">سایر موارد</option> 
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="file" name="uri[]" class="form-control" placeholder="تصویر مدرک">
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger btn-sm delete-document">حذف</button>
                </div>
            </div>
        `;

        // Get the element where you want to append the HTML (in this case the element with the class 'card-body-document')
        let documentContainer = document.querySelector('.card-body-document');

        // Append the HTML to the end of the container
        documentContainer.insertAdjacentHTML('beforeend', documentHTML);
    });

    // Event delegation: Attach a click event listener to the container
    document.querySelector('.card-body-document').addEventListener('click', function(e) {
        if (e.target && e.target.classList.contains('delete-document')) {
            // If the clicked element is a delete button, remove the associated document
            e.target.closest('.document-item').remove();
        }
    });
});
</script>
<div id="bankData" style="display:none;" 
     data-banks='{% for bank in banks %}{"id": "{{bank.obj_item_id}}", "text": "{{bank.name}}"}{% if not forloop.last %},{% endif %}{% endfor %}'>
</div>


   <script>
    var bankDataElement = document.getElementById('bankData');
    var bankList = JSON.parse('[' + bankDataElement.getAttribute('data-banks') + ']');
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {

// When the 'add-new-payment' button is clicked, add the specified HTML to the 'card-body-payment' container.
document.querySelector('.add-new-payment').addEventListener('click', function() {
    
    // Sample object to represent data from Django's objoption.
    // NOTE: You'll need to replace this with actual data from your backend.
    
    
    var objPayment = '<div class="row rtl mt-1 p-2" style="background-color:#F3F8F9;border-right: 2px solid cornflowerblue; border-radius: 20px 0 0 20px">';
    
    objPayment += '<div class="col-md-4"><select class="form-control form-control-sm pay-type" style="border-radius: 9px;" name="pay_type[]"><option value="CASH">وجه نقد</option><option value="CART">کارت خوان</option><option value="CARTOCART">کارت به کارت</option><option value="CHEQUE">چک</option><option value="REBATE">تخفیف</option><option value="CREDIT">اعتباری</option><option value="ATHOME">درب منزل</option><option value="OTHER">سایر</option></select></div>';
    
    objPayment += '<div class="col-md-4"><select class="form-control form-control-sm bank-list" name="bank_id[]" style="border-radius: 9px;">';
    
    bankList.forEach(function(bank) {
        objPayment += '<option value="' + bank.id + '">' + bank.text + '</option>';
    });
    
    objPayment += '</select></div>';
    objPayment += '<div class="col-md-4"><div class="input-group input-group-sm mb-3"> <input style="border-radius: 9px;" name="price[]" type="text" class="form-control numeric ltr" placeholder="مبلغ" aria-label="" aria-describedby=""> </div></div>';
    objPayment += '<div class="col-md-4"><div class="input-group input-group-sm mb-3"> <input style="border-radius: 9px;" name="no[]" type="text" class="form-control" placeholder="شماره" aria-label="" aria-describedby=""> </div></div>';
    objPayment += '<div class="col-md-8"><div class="input-group input-group-sm mb-3"> <input style="border-radius: 9px;" name="description[]" type="text" class="form-control" placeholder="توضیحات" aria-label="" aria-describedby=""> </div></div>';
    objPayment += '<button class="dlt btn btn-danger btn-sm">حذف</button>';

    objPayment += '</div>';
    
    document.querySelector('.card-body-payment').insertAdjacentHTML('beforeend', objPayment);
});

// Delete functionality
document.addEventListener('click', function(e) {
    if(e.target && e.target.classList.contains('dlt')){
        e.target.parentElement.remove();
    }
});

// On change for '.pay-type' select input (for future use)
document.addEventListener('change', function(e) {
    if(e.target && e.target.classList.contains('pay-type')){
        console.log(e.target.parentElement.parentElement);
    }
});
});

</script>

<script>
            document.addEventListener('DOMContentLoaded', function() {
                // Listen to the 'show.bs.modal' event on the modal
                $('#modal-assign-driver').on('show.bs.modal', function(event) {
                    // Get the button (<a> tag) that triggered the modal
                    var button = $(event.relatedTarget);

                    // Get the 'data-buyer' attribute from the button
                    var objValue = button.data('objsend');
                   
                    // Find the hidden input element by its ID and update its value
                    $('#objsend').val(objValue);
            });
            });
                   
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
    // Listen to the 'show.bs.modal' event on the comment modal
    $('#modal-comment').on('show.bs.modal', function(event) {
        // Get the button (<i> tag) that triggered the modal
        var icon = $(event.relatedTarget);

        // Get the 'data-objsend' attribute from the icon
        var objValue = icon.data('factor');
        $('#factor-id-val').val(objValue);
        // Find the hidden input element by its ID and update its value
        $('#objsend-comment').val(objValue);
    });
});
        </script>
       <script>
        // Function to fetch comments using AJAX
        function fetchComments(factorId) {

            $.ajax({
                url: "{% url 'customer:fetch_comments' %}",  // Update this URL to your actual URL
                type: 'GET',
                data: {
                    'factor_id': factorId,
                    'level': 'DRIVE'
                },

                success: function (data) {
                    // Assuming data is an array of comments
                    console.log(data);
                    var commentsHtml = '<ul>';
                    data.forEach(function (comment) {
                        commentsHtml += '<li>' + comment.body + '</li>';
                    });
                    commentsHtml += '</ul>';
   
                    // Update the comments element with the fetched comments
                    $('#comments-body').html(commentsHtml);
                },
                error: function () {
                    // Handle the error if the AJAX request fails
                    console.log('Error fetching comments.');
                }
            });
        }
   
        // Add an event listener to the modal when it's shown
        $('#modal-comment').on('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var factorId = $(button).data('factor');
            // Call the fetchComments function to fetch comments for the given factor_id
            fetchComments(factorId);

        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Listen to the 'show.bs.modal' event on the comment modal
            $('#modal-comment').on('show.bs.modal', function (event) {
                // Get the button (<i> tag) that triggered the modal
                var icon = $(event.relatedTarget);
    
                // Get the 'data-objsend' attribute from the icon
                var objValue = icon.data('factor');
                $('#factor-id-val').val(objValue);
    
                // Find the hidden input element by its ID and update its value
                $('#comment').val(objValue); // Update this line
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
    // Listen to the 'show.bs.modal' event on the comment modal
    $('#modal-comment').on('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var fetchUrl = $(button).data('fetch-url'); // Get the URL from data attribute

        // Fetch comments when the modal is shown
        $.ajax({
            url: fetchUrl, // Use the generated URL
            type: 'GET',
            success: function (data) {
                var commentsHtml = '<ul>';
                data.forEach(function (comment) {
                    commentsHtml += '<li>' + comment.body + '</li>';
                });
                commentsHtml += '</ul>';

                $('#comments-body').html(commentsHtml);
            },
            error: function () {
                console.log('Error fetching comments.');
            }
        });
    });
});
    </script>

<script>
function fetchComments(factorId) {
    $.ajax({
        url: "{% url 'customer:fetch_comments' %}",
        type: 'GET',
        data: {
            'factor_id': factorId,
            'level': 'DRIVE'
        },
        success: function (data) {
            // Assuming data is an array of comments
            console.log(data);
            var commentsHtml = '<ul>';
            data.forEach(function (comment) {
                commentsHtml += '<li>' + comment.body + '</li>';
            });
            commentsHtml += '</ul>';

            // Update the comments element with the fetched comments
            $('#comments-body').html(commentsHtml);
        },
        error: function () {
            // Handle the error if the AJAX request fails
            console.log('Error fetching comments.');
        }
    });
}

// Add an event listener to the modal when it's shown
$('#modal-comment').on('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var factorId = $(button).data('factor');
    
    // Call the fetchComments function to fetch comments for the given factor_id
    fetchComments(factorId);
});

</script>




        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>