{% load converter_tags %}
{% load static %}
<!DOCTYPE html>
<!-- in this section: 
    - everything that is left directed should be placed on the right side of the page
    - Find the usage of the first column from the left
    - why are items in the left column buttons?
    - have to fix the pagination
    - there are different colors in the customer field. why? ==> different colors contain different information as popups
    - The place under the title should be dedicated to shop list
    
-->
<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="content-wrapper ">
                                <div class="content-header ">
                                    <div class="container-fluid ">
                                        <div class="row mb-2">
                                            <div class="col-sm-12 rtl">
                                                <ol class="breadcrumb float-sm">
                                                    <li class="breadcrumb-item active">لیست مشتریان</li>
                                                    <li class="breadcrumb-item">مشتریان</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-primary card-outline">
                                                    <div class="card-body">
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-12 ">
                                                                   
                                                                        <!-- <a class="btn btn-danger" href="#">لغو جستجو</a> -->
                                                                   
                                                                    <a class="btn btn-success" data-toggle="modal" data-target="#modal-search">جستجو</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>

                                                        <div class="col-lg-12 rtl">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h5 style="font-size: xx-large;font-weight: bold;">لیست فروشگاه ها </h5>
                                                                     
                                                                    <a class="btn btn-primary" href="#">همه فروشگاه‌ها</a>
                                                                        {% for item in shops %}
                                                                        <a class="btn btn-success" href="#">{{item.name}}</a>
                                                                        {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>

                                                        <form role="form">
                                                            <div class="row right">
                                                                <div class="col-lg-12">
                                                                    <table class="table table-bordered table-striped dataTables table-hover" id="html_table" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>کد مشتری</th>
                                                                                <th>مشتری</th>
                                                                                <th>کدملی</th>
                                                                                <th>شهر</th>
                                                                                <th>تلفن</th>
                                                                                <th>موبایل</th>
                                                                                <th></th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for item in page %}
                                                                                <tr>
                                                                                    <td>{{ item.obj_item_id }}</td>
                                                                                    <td> {{item.name}}
                                                                                        
                                                                                            <br>
                                                                                            
                                                                                                                  <b></b><br>
                                                                                                                
                                                                                            
                                                                                                <span class="right badge badge-success cursor-hand" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="">&nbsp;&nbsp;</span>
                                                                                            
                                                                                                <span class="right badge badge-danger cursor-hand" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="">&nbsp;&nbsp;</span>
                                                                                            
                                                                                                <span class="right badge badge-warning cursor-hand" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="">&nbsp;&nbsp;</span>
                                                                                            
                                                                                                <span class="right badge badge-secondary cursor-hand" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="">&nbsp;&nbsp;</span>
                                                                                            
                                                                                                <span class="right badge badge-secondary cursor-hand" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="">&nbsp;&nbsp;</span>
                                                                                            
                                                                                    </td>
                                                                                    {% if item.codemeli == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>{{item.codemeli}} </td>
                                                                                    {% endif %}
                                                                                    


                                                                                    {% if item.city_id == None and item.province_id != None  %}

                                                                                    <td>
                                                                                        {{item.province_id}} 
                                                                                    </td>

                                                                                    {% elif item.city_id != None and item.province_id == None  %}
                                                                                    <td>
                                                                                        {{item.city_id|id_to_city}} 
                                                                                    </td>
                                                                                    {% elif item.city_id != None and item.province_id != None %}
                                                                                    <td>{{item.province_id}} / {{item.city_id}}</td>
                                                                                    {% else %}
                                                                                    <td></td>
                                                                                    {% endif %}



                                                                                    {% if item.phone == None %}
                                                                                    <td></td>
                                                                                    {% else%}
                                                                                    <td>{{item.phone}}</td>
                                                                                    {% endif %}
                                                                                    {% if item.mobile == None %}
                                                                                    <td></td>
                                                                                    {% else%}
                                                                                    <td>{{item.mobile}} </td>
                                                                                    {% endif %}
                                                                                    
                                                                                    <td>
                                                                                        <a class="inquiry-link" style="border: 0.5px solid rgb(186, 183, 183);" data-buyer="{{ item.obj_item_id }}" data-toggle="modal" data-target="#modal-inquiry">استعلام حساب</a>                                                                                            <button id="btnGroupDropX" type="button" class="btn-xs btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                            گزارشات
                                                                                            </button>
                                                                                            <div class="dropdown-menu" aria-labelledby="btnGroupDropX">
                                                                                                <!--  -->
                                                                                                    <a href="#" class="dropdown-item text-right rtl">فاکتور </a>
                                                                                                
                                                                                                            <a href=""  class="dropdown-item text-right rtl">تیکت </a>
                                                                                                        
                                                                                                    <hr>
                                                                                                    <a href="#" class="dropdown-item text-right rtl">پرداختی‌ها</a>
                                                                                               
                                                                                            </div>
                                                                                        </div>
                                                                                        
                                                                                         <!-- <a class="btn btn-default btn-customer" data-customer-id="" data-toggle="modal" data-target="#modal-debit-return">برگشت بستانکاری</a> 
                                                                                         <a class="btn btn-default btn-customer" data-customer-id="" data-toggle="modal" data-target="#modal-cheque-return">عودت چک</a>  -->
                                                                                    </td>
                                                                                    <!-- <td>
                                                                                         <div class="btn-group">
                                                                                                <a class="dropdown-item" href="#">دریافت از مشتری</a>
                                                                                                <a class="dropdown-item" href="#">برگشت از فروش</a>
                                                                                                <a class="dropdown-item" href="#">خدمات پس از فروش</a>
                                                                                                <a class="dropdown-item" href="#">ویرایش مشخصات</a>
                                                                                        </div> 
                                                                                    </td> -->
                                                                                </tr>
                                                                                {% endfor %}
                                                                        <tbody>
                                                                            
                                                                    </table>
                                                                    <div class="text-center">
                                                                        {% for page_num in page.paginator.page_range %}
                                                                            {% if page_num == page.number %}
                                                                                <span class="btn btn-default">{{ page_num }}</span>
                                                                            {% else %}
                                                                                <a class="btn btn-default" href="?page={{ page_num }}&customer_id={{ item.0.obj_item_id }}">{{ page_num }}</a>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                        
                                                                        {% if page.has_next %}
                                                                            <a class="btn btn-default" href="?page={{ page.next_page_number }}&customer_id={{ item.0.obj_item_id }}">بعدی</a>
                                                                        {% endif %}
                                                                        
                                                                        {% if page.paginator.page_range|last != page.number %}
                                                                            <a class="btn btn-default" href="?page={{ page.paginator.num_pages }}&customer_id={{ item.0.obj_item_id }}">آخرین</a>
                                                                        {% endif %}
                                                                    </div>
                                                                    
                                                                    
                                                                    
                                                                    
                            
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal fade" id="modal-inquiry">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header rtl">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">استعلام حساب</h4>
                                    </div>
                                    <form method="POST" action="{% url 'customer:customerindexAll' %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <input id="hiddenInput" type="hidden" name="buyer" value="">    
                                            <input type="hidden"  name="register" value="{{request.user.user_id}}" >                                     
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                <select class="form-control select2bs4" style="width: 100%;" name="bank_id" data-placeholder="بانک" data-allow-clear="true">
                                                        {% for bank in banks %}
                                                        <option value="{{bank.bank_id}}" > {{bank.name}}</option>
                                                        {% endfor %}
                                                </select>
                                                </div>
                                                <label for="bank_id" class="col-sm-4 col-form-label">بانک</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                <input type="text" name="bank_code" id="bank_code" class="form-control rtl" placeholder="کد شعبه" value="">
                                                </div>
                                                <label for="bank_code" class="col-sm-4 col-form-label">* کد شعبه</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                <input type="text" name="bank_branch" id="bank_branch" class="form-control rtl " placeholder="نام شعبه" value="">
                                                </div>
                                                <label for="bank_branch" class="col-sm-4 col-form-label">* نام شعبه</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                <input type="text" name="account_owner" class="form-control rtl " id="account_owner" placeholder="نام صاحب حساب" value="">
                                                </div>
                                                <label for="account_owner" class="col-sm-4 col-form-label">نام صاحب حساب</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                <input type="text" name="account_owner_nat_code" class="form-control rtl " id="account_owner_nat_code" placeholder="کد ملی صاحب حساب" value="">
                                                </div>
                                                <label for="account_owner_nat_code" class="col-sm-4 col-form-label">کد ملی صاحب حساب</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                <input type="text" name="account_sayadi" class="form-control" id="account_sayadi" placeholder="شماره صیادی" value="">
                                                </div>
                                                <label for="account_sayadi" class="col-sm-4 col-form-label">* شماره صیادی</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                <input type="text" name="account_no" class="form-control" id="account_no" placeholder="شماره حساب" value="">
                                                </div>
                                                <label for="account_no" class="col-sm-4 col-form-label">* شماره حساب</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                    <input type="text" name="cheque_price" id="cheque_price" class="form-control" placeholder="مبلغ چک‌ها" value="">
                                                </div>
                                                <label for="cheque_price" class="col-sm-4 col-form-label">* مبلغ خرید</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                    <input type="text" name="cheque_count" id="cheque_count" class="form-control" placeholder="تعداد چک‌ها" value="">
                                                </div>
                                                <label for="cheque_count" class="col-sm-4 col-form-label">* تعداد چک</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                    <input type="text" name="description" class="form-control rtl" id="description" placeholder="توضیحات" value="">
                                                </div>
                                                <label for="description" class="col-sm-4 col-form-label">توضیحات</label>
                                            </div>
                                            <div class="form-group form-group-sm row">
                                                <div class="col-sm-8">
                                                    <div class="custom-file">
                                                        <input type="file" name="cheque_image" id="cheque_image" class="rtl custom-file-input" placeholder="تصویر چک‌ها" value="">
                                                        <label class="custom-file-label" for="exampleInputFile">تصویر چک</label>
                                                    </div>
                                                </div>
                                                <label for="cheque_image" class="col-sm-4 col-form-label">تصویر چک‌ها</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="submit" class="btn btn-primary">ثبت استعلام</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                        </div>
                                    </form>
                            
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            
                            <div class="modal fade" id="modal-search">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">جستجو</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="get" action="#">
                                        <div class="modal-body">
                                                <div class="input-group mb-3 rtl">
                                                    <input type="text" name="search" class="form-control" placeholder="نام، شماره تلفن، موبایل، کد ملی، کد مشتری" aria-label="search" aria-describedby="search">
                                                </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="submit" class="btn btn-primary">جستجو</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                        </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            // Get the anchor tag element by its id
                            const myBtn = document.getElementById("myBtn");
                          
                            // Add a click event listener to the anchor tag
                            myBtn.addEventListener("click", function() {
                              // Get the data-buyer attribute from the anchor tag
                              const buyer = this.getAttribute("data-buyer");
                          
                              // Get the hidden input element by its id
                              const hiddenInput = document.getElementById("hiddenInput");
                          
                              // Set the value of the hidden input
                              hiddenInput.value = buyer;
                              
                            });
                            console.log(hiddenInput.value);
                          });
                        </script> -->
                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->

       

        <!-- end::Offcanvas Toolbar Quick Actions -->

        <!-- end:: Topbar Offcanvas Panels -->

        <!-- begin:: Quick Panel -->
        
        <!-- end:: Scrolltop -->

        <!-- begin:: Demo Toolbar -->

        <!-- end:: Demo Toolbar -->
        
        <!-- begin::Global Config(global config for global JS sciprts) -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        
         


        {% include "partials/script.html" %}
        <script>
           
        </script>




        <script>
            
        document.addEventListener('DOMContentLoaded', function() {
            const inquiryLinks = document.querySelectorAll('.inquiry-link');
            const hiddenInput = document.getElementById('hiddenInput');

            inquiryLinks.forEach(link => {
                link.addEventListener('click', function() {
                    const buyerValue = link.getAttribute('data-buyer');
                    hiddenInput.value = buyerValue;
                    console.log('Value copied:', buyerValue);
                });
            });
        });
</script>




        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>