{% load static %}
{% load converter_tags %}
<!DOCTYPE html>

<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="content-wrapper">
                                <div class="content-header">
                                    <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <ol class="breadcrumb float-sm-left ">
                                                <li class="breadcrumb-item active">خدمت نصب</li>
                                                <li class="breadcrumb-item active">اختصاص نصاب</li>
                                            </ol>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                
                            
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-primary card-outline">
                                                    <div class="card-body">
                                                            <div class="row ">
                                                                <div class="col-lg-12">
                                                                    <table class="table table-bordered table-striped dataTable table-hover ">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>خریدار</th>
                                                                                <th>نام خریدار</th>
                                                                                <th>شناسه فاکتور</th>
                                                                                <th>شماره فاکتور</th>
                            
                                                                                <th>شهر</th>
                                                                                <th>موبایل</th>
                                                                                <th>تلفن</th>
                                                                                <th>اطلاعات</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for item in items %}
                                                                                <tr>
                                                                                    <td>{{item.0.0.obj_send_id}}</td>
                                                                                    <td>{{item.0.1.receiver}}</td>   <!--نام خریدار-->
                                                                                    <td>{{item.1.1}}</td> <!--شناسه فاکتور-->
                                                                                    <td>{{item.1.0}}</td> <!-- شماره فاکتور-->
                                                                                    
                                                                                   
                                                                                    <td>    <!-- شهر -->
                                                                                        {{item.0.1.city_id|id_to_city}}
                                                                                    </td>
                                                                                    
                                                                                    
                                                                                    
                                                                                    <td>{{item.0.1.mobile}}</td>   <!-- موبایل -->
                                                                                    
                                                                                    <td>{{item.0.1.phone}}</td>   <!--تلفن-->
                                                                                    
                                                                                    <td>    <!-- آدرس -->
                                                                                        {{item.0.1.address}}
                                                                                    </td>
                                                                                    <td>
                                                                                        <i data-factor="{{item.1.0}}" data-toggle="modal" data-target="#modal-comment"
                                                                                            data-fetch-url="{% url 'customer:fetch_commentsinstall' %}?factor_id={{item.1.0}}"
                                                                                            class="fas fa-comment btn btn-xs btn-flat btn-comment comment-icon"
                                                                                            data-row-index="{{ forloop.counter }}">
                                                                                        </i>
                                                                                    </td>
                                                                                    <td>
                                                                                            <form method="get" action="" class="frm1">
                                                                                                <a class="btn btn-success btn-xs btn-assign-driver btn-class" data-objsend="{{item.0.0.obj_send_id}}" data-toggle="modal" data-target="#modal-assign-driver">اختصاص نصاب</a>
                                                                                            </form>
                                                                                            <a class="btn btn-primary btn-xs btn-class" href="{% url 'customer:FactorSendInstallerPrint' obj_send_id=item.0.0.obj_send_id %}">چاپ فاکتور نصب</a>
                                                                                    </td>
                                                                                    {% endfor %}
                                                                        <tbody>

                                                                    </table>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal fade" id="modal-assign-driver">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                                <h4 class="modal-title">اختصاص نصاب</h4>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <form method="POST" action="{% url 'customer:FactorInstallAssignInstaller' %}" enctype="multipart/form-data" class="frm1">
                                        {% csrf_token %}
                                        <input type="hidden" name="objsend" id="objsend">
                                        <input type="hidden" name="formtype" value="assign_driver">
                                        <div class="modal-body">
                                                    <div class="form-group form-group-sm row">
                                                        <div class="col-sm-8">
                                                            <select class="form-control select2bs4 rtl text-left" style="width: 100%;" name="drive_id" data-allow-clear="true">
                                                                        <option value="4011001" >قاسمپور</option>        
                                                                        <option value="4011007">عباس دولت آبادی</option>
                                                                        <option value="4011011" >محسن شهابی</option>
                                                                        <option value="4011013" >حسن عاقلی</option>
                                                                        <option value="4011017" >بدون نصب</option>
                                                                        <option value="4011019" >حسین بروغنی</option>
                                                                        <option value="4011020" >مصطفی مهری</option>
                                                                        <option value="4011021" >هادی رجایی </option>
                                                                        <option value="4011022" >سید مهدی نیکپور ریوندی</option>
                                                                        <option value="4011023" >محمد افچنگی</option>
                                                                        <option value="4011024" >جواد میان آبادی</option>
                                                                        <option value="4011025" >رزرو</option>
                                                                        <option value="4011026" >مصطفی دلاوری</option>
                                                                        <option value="4011028" >اسماعیل نورنهنگ</option>
                                                                        <option value="4011029" >میلاد ثابت</option>
                                                                        <option value="4011030" >علی قاسمی</option>
                                                                        <option value="4011031" >عباس خسروجردی</option>
                                                                        <option value="4011032" >سعید مشکانی</option>
                                                                        <option value="4011033" >مهرداد پاکیشان</option>
                                                                        <option value="4011034" >میلاد بینش</option>
                                                                        <option value="4011035" >علیرضا کرمی</option>
                                                                        <option value="4011036" >امیرحسین نقدی</option>
                                                                        <option value="4011037" >امیر عادلی</option>

       
                                                            </select>
                                                        </div>
                                                        <label for="drive_id" class="col-sm-4 col-form-label">نصاب</label>

                                                    </div>
                                                    <div class="form-group form-group-sm row">
                                                        <div class="col-sm-8">
                                                            <input type="text" name="drive_desc" class="form-control rtl" id="drive_desc" placeholder="توضیحات" value="">
                                                        </div>
                                                        <label for="drive_desc" class="col-sm-4 col-form-label">توضیحات</label>
                                                    </div>
                            
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="submit" class="btn btn-primary btn-class">اختصاص</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                        </div>
                                    </form>
                                </div>
                                    <!-- /.modal-content -->
                            </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <div class="modal fade" id="modal-comment">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form id="comment-form" method="post" action="{% url 'customer:addcommentinstall' %}">
                                            {% csrf_token %}
                                            <div class="modal-header rtl">
                                                <h4 class="modal-title">پیام‌ها</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="comments-box">
                                                            <div id="comments-body">
                                                                <!-- Display comments here -->
                                                                {% for comment in comments %}
                                                                <div class="comment">
                                                                    <p class="message-text">{{ comment.body }} </p>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <style>
                                                    .comments-box {
                                                        border: 2px solid #ddd;
                                                        background-color: #f7f7f7;
                                                        border-radius: 10px;
                                                        padding: 20px;
                                                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                                                        font-family: "IRANSans", Arial, sans-serif;
                                                        color: #333;
                                                        line-height: 1.5;
                                                    }
                                                
                                                    .comments-box p {
                                                        margin: 0;
                                                        padding: 0;
                                                        font-size: 40px;
                                                    }
                                                
                                                    .comments-box .comment {
                                                        margin-bottom: 15px;
                                                    }
                                                </style>
                                                <input type="hidden" name="factor_id" id="factor-id-val">
                                                <input type="hidden" name="level" value="">
                                                <input type="text" name="comment" class="form-control rtl text-box" placeholder="متن پیام">
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="submit" class="btn btn-primary">ثبت پیام</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Listen to the 'show.bs.modal' event on the modal
                $('#modal-assign-driver').on('show.bs.modal', function(event) {
                    // Get the button (<a> tag) that triggered the modal
                    var button = $(event.relatedTarget);

                    // Get the 'data-buyer' attribute from the button
                    var objValue = button.data('objsend');

                    // Find the hidden input element by its ID and update its value
                    $('#objsend').val(objValue);
            });
            });
                    
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
    // Listen to the 'show.bs.modal' event on the comment modal
    $('#modal-comment').on('show.bs.modal', function(event) {
        // Get the button (<i> tag) that triggered the modal
        var icon = $(event.relatedTarget);

        // Get the 'data-objsend' attribute from the icon
        var objValue = icon.data('objsend');

        // Find the hidden input element by its ID and update its value
        $('#objsend-comment').val(objValue);
    });
});
        </script>
       
<!-- <script>
    
    function loadComments(objSendId, comments) {
        // Prepare the HTML content for comments using the data from the queryset
        var commentsHTML = "<ul>";
        comments.split(',').forEach(function(comment) {
            commentsHTML += "<li>" + comment + "</li>";
        });
        commentsHTML += "</ul>";

        // Set the HTML content to the placeholder element
        document.getElementById('comments-placeholder').innerHTML = commentsHTML;
    }
</script> -->

<script>
    function fetchCommentsAndUpdateModal(factorId, fetchUrl) {
        function fetchCommentsAndUpdateModal(factorId, fetchUrl) {
$.ajax({
url: fetchUrl,
type: 'GET',
cache: false, // Disable caching at the client side as well
success: function (data) {
    var commentIds = [];
    var $commentsBody = $('#comments-body');

    // Get the IDs of existing comments
    $commentsBody.find('.comment').each(function () {
        commentIds.push($(this).data('comment-id'));
    });

    // Remove deleted comments from the modal
    for (var i = 0; i < commentIds.length; i++) {
        if (!commentExists(commentIds[i], data)) {
            $commentsBody.find('.comment[data-comment-id="' + commentIds[i] + '"]').remove();
        }
    }

    // Add new comments to the modal
    for (var j = 0; j < data.length; j++) {
        if (!commentExists(data[j].id, commentIds)) {
            $commentsBody.append('<div class="comment" data-comment-id="' + data[j].id + '">' + data[j].body + '</div>');
        }
    }

    $('#factor-id-val').val(factorId);
}
});
}

function commentExists(commentId, comments) {
for (var i = 0; i < comments.length; i++) {
if (comments[i].id === commentId) {
    return true;
}
}
return false;
}


        $.ajax({
            url: fetchUrl,
            type: 'GET',
            success: function (data) {
                $('#comments-body').empty();
                for (var i = 0; i < data.length; i++) {
                    $('#comments-body').append('<div>' + data[i].body + '</div>');
                }
                $('#factor-id-val').val(factorId);
            }
        });
    }

    $(document).on('click', '.btn-comment', function () {
        var factorId = $(this).data('factor');
        var fetchUrl = $(this).data('fetch-url');

        // Initial fetch and update
        fetchCommentsAndUpdateModal(factorId, fetchUrl);

        // Periodically fetch and update every second
        var intervalId = setInterval(function () {
            fetchCommentsAndUpdateModal(factorId, fetchUrl);
        }, 1000);

        // Close the modal and clear the interval when it's dismissed
        $('#modal-comment').on('hidden.bs.modal', function () {
            clearInterval(intervalId);
        });
    });
</script>

<script>
    var socket = new WebSocket("ws://your-server/ws/comment_updates/");

    socket.onmessage = function (event) {
        var data = JSON.parse(event.data);
        $('#comments-body').append('<div>' + data.body + '</div>');
    };

    $(document).on('click', '.btn-comment', function () {
        var factorId = $(this).data('factor');
        var fetchUrl = $(this).data('fetch-url');

        // ... (Your existing code for initial fetch)

        // Close the modal and WebSocket connection when it's dismissed
        $('#modal-comment').on('hidden.bs.modal', function () {
            socket.close();
        });
    });
</script>

<script>
    $(document).ready(function () {
        // Loop through all comment icons and check if there are previous comments
        $('.comment-icon').each(function () {
            var factorId = $(this).data('factor');
            var fetchUrl = $(this).data('fetch-url');
            var icon = $(this);

            // Fetch comments and change the icon's color based on the result
            $.ajax({
                url: fetchUrl,
                type: 'GET',
                success: function (data) {
                    if (data.length > 0) {
                        // If there are comments, change the icon color to red
                        icon.css('color', 'red');
                    } else {
                        // If there are no comments, keep the default color
                        // You can set the default color here if needed
                    }
                }
            });
        });
    });
</script>

        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}

        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>