{% load static %}
{% load converter_tags %}
<!DOCTYPE html>
<!-- 
    - The sections that are in the printed version do not have borders fix that
    - Items should be right aligned
    - 
 -->
<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">
        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}
        <link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" media="print">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">



        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="bbcnasim" style="position: absolute; top: 30px;">
                                <div class="content">
                                    <div class="container-fluid">
                                                <div class="card-fixed-left no-print">
                                                    <button onclick="javascript:window.print();" class="btn btn-success" data-toggle="modal"><i class="fas fa-print"></i></button>
                                                    <a href="{% url 'customer:CustomerFactorSendAssignDriver' %}" class="btn btn-success btn-sm no-print">برگشت</a>
                                                </div>
                                                <div class="text-center">          
                                                        <table class="table rtl">
                                                        <tr class="">
                                                            <td class="h4 titr text-center bold" rowspan="4">
                                                                <img src="" style="height: 45px">
                                                               
                                                            </td>
                                                        </tr>
                                                        <tr class="">
                                                            <td class="h2 titr text-center bold" rowspan="4">
                                                                صورت ارسال کالا
                                                               
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-left strong">تاریخ:</td>
                                                            <td style="font-size: large; font-weight: bold;">{{ date|to_jalali }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td  class="text-left strong">شماره سریال:</td>
                                                            <td style="font-size: large; font-weight: bold;"> {{ factor.factor_id }} </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="row {{ direction }}">
                                                    <div class="col-lg-12">
                                                        <div class="card card-secondary-del card-outlines">
                                                            <div class="card-header rtl">
                                                                <h3 class="card-title rtl block float-left bold">مشخصات خریدار</h3>
                                                            </div>
                                                            <div class="card-body">
                                                                            <table class="table  {{ direction }}">
                                                                                <tr>
                                                                                    <td style="font-weight: bold;font-size: medium;">خریدار:</td>
                                                                                    <td style="font-weight: bold;font-size: medium;">{{address_info.receiver}}</td>
                                                                                    <td style="font-weight: bold;font-size: medium;">شهر:</td>
                                                                                    <td style="font-weight: bold;font-size: medium;">{{address_info.city_id|id_to_city}}</td>
                                                                                    <td style="font-weight: bold;font-size: medium;">کدپستی:</td>
                                                                                    <td>-----</td>
                                                                                    <td style="font-weight: bold;font-size: medium;">تلفن/نمابر:</td>
                                                                                    <td style="font-weight: bold;font-size: medium;">{{address_info.mobile}}</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight: bold;">آدرس خریدار:</td>
                                                                                    <td colspan="10" style="font-weight: bold;font-size: medium;"> {{address_info.address}}</td>
                                                                                    {% if address_info.phone == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>/</td>
                                                                                    <td>{{address_info.phone}}</td>
                                                                                    {% endif %}
                                                                                </tr>
                                                                            </table>
                                                            </div>
                                                        </div><!-- end.card -->
                                                    </div>
                                                </div>
                            
                                                <div class="card card-secondary-del card-outlines">
                                                    <div class="card-header rtl">
                                                        <h3 class="card-title rtl block float-left bold">مشخصات کالا</h3>
                                                    </div>
                                                    <div class="card-body">
                                                                    <table class="table table-bordered table-striped ">
                                                                        <thead>
                                                                            <tr>
                                                                                 
                                                                                <th style="font-size: large;">ردیف</th>
                                                                                <th style="font-size: large;">کد کالا</th>
                                                                                <th style="font-size: large;">شرح کالا یا خدمات</th>
                                                                                <th style="font-size: large;">تعداد</th>
                                                                                <th style="font-size: large;">مبلغ واحد <small>(ریال)</small></th>
                                                                                <th style="font-size: large;">مبلغ کل<small>(ریال)</small></th>
                                                                                <th style="font-size: large;">مبلغ تخفیف <small>(ریال)</small></th>
                                                                                <th style="font-size: large;">مبلغ کل پس از تخفیف<small>(ریال)</small></th>
                                                                                <th style="font-size: large;">شماره سریال</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                {% for product in factor_items %}
                                                                                <tr>
                                                                                    
                                                                                    <td style="font-weight: bold;">
                                                                                    {{ forloop.counter }}
                                                                                    </td>
                                                                                    <td style="font-size: large;"><strong>
                                                                                        {{ product.0.obj_item_id }}
                                                                                        </strong>
                                                                                    
                                                                                    </td>
                                                                                    <td style="font-weight: bold;">
                                                                                    {{ product.1.name }} {{product.1.title}}
                                                                                    </td>
                                                                                    <td class="amount" style="font-weight: bold;">
                                                                                    {{ product.0.amount|inter }}
                                                                                    </td>
                                                                                    <td class="total-price" style="font-weight: bold;">
                                                                                        {{product.0.unit_price|inter|comma_num_seperator}} 
                                                                                        
                                                                                    </td>
                                                                                    <td class="price" style="font-weight: bold;">
                                                                                        {{product.0.price|inter|comma_num_seperator}}  
                                                                                    </td>
                                                                                    <td class="total-discount" style="font-weight: bold;">
                                                                                        {{product.0.discount_price|inter|comma_num_seperator}}
                                                                                    </td>
                                                                                    <td>
                                                                                        <table class="table">
                                                                                            <tr>
                                                                                                <td class="row-total" style="font-weight: bold;">
                                                                                                {% with num1=product.0.unit_price num2=product.0.amount subtract_value=product.0.discount_price %}
                                                                                                  {% multiply_and_subtract num1=num1 num2=num2 subtract_value=subtract_value %}
                                                                                               {% endwith %}
                                                                                            </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td>
                                                                                        <table class="table">
                                                                                            <tr>
                                                                                                <td>سریال:</td>
                                                                                                <td></td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                            
                                                                            <tr class="row-small">
                                                                                <th colspan="6"></th>
                                                                                <th class="text-left">جمع <small>(ریال)</small></th>
                                                                                <td colspan="2" class="grand-total-price"></td>
                                                                            </tr>
                                                                            <tr class="row-small"> 
                                                                                <th colspan="6"></th>
                                                                                <th class="text-left">تخفیف <small>(ریال)</small></th>
                                                                                <td colspan="2" class="grand-total-discount"></td>
                                                                            </tr>
                                                                             <tr class="row-small">
                                                                                <th colspan="6"></th>
                                                                                <th class="text-left">مالیت ارزش افزوده <small>(ریال)</small></th>
                                                                                <td colspan="2"></td>
                                                                            </tr> 
                                                                            <tr class="row-small">
                                                                                <th colspan="6"></th>
                                                                                <th class="text-left">جمع کل <small>(ریال)</small></th>
                                                                                <td colspan="2" class="grand-row-total"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                    </div>
                                                </div><!-- end.card -->
                                                <div class="row ">
                                                    <div class="col-lg-6">
                                                        <div class="card card-secondary-del card-outlines">
                                                            <div class="card-header rtl">
                                                                <h3 class="card-title rtl block float-left bold large">پرداختی‌ها</h3>
                                                            </div>
                                                            <div class="card-body" style="max-height: 50vh; overflow-y: auto;">
                                                                <table class="table table-bordered table-striped table-hover font-sm ">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="font-size: smaller;font-weight: bold;">نحوه پرداخت</th>
                                                                            <th style="font-size: smaller;font-weight: bold;">مبلغ <span class="small">(ریال)</span></th>
                                                                            <th style="font-size: smaller;font-weight: bold;">شناسه</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                            {% for payment in factor_payments %}
                                                                            <tr>
                                                                                <td style="font-size: smaller;">{{ payment.pay_type|pay_to_way }}</td>
                                                                                <td style="font-size: smaller;">
                                                                                    {{payment.price|comma_num_seperator}}
                                                                                </td>
                                                                                {% if payment.no == None %}
                                                                                <td> </td>
                                                                                {% else %}
                                                                                <td style="font-size: smaller;">{{ payment.no }}</td>
                                                                                {% endif %}
                                                                            </tr>
                                                                            {% endfor %}
                                                                    </tbody>
                                                                    <!-- 'CART','CREDIT','OTHER','CARTOCART','REBATE','ATHOME','WITHACC' -->
                                                                </table>
                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="card card-secondary-del card-outlines">
                                                            <div class="card-header rtl">
                                                                <h3 class="card-title rtl block float-left bold">توضیحات</h3>
                                                            </div>
                                                            <div class="card-body" style="font-size: larger;font-weight: bold;">
                                                                {{factor.factore_desc}}
                                                                    <hr>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="row rtl h8">
                                                    <li style="font-size: medium;font-weight: bold;">
                                                    اجناس فوق تا تسویه حساب کامل و وصول چک‌های مربوطه نزد خریدار به صورت امانت بوده که در صورت عدم اقدام در این زمینه می‌بایست اجناس را به صورت
                                                    صحیح و سالم به شرکت عودت نماید و در صورت استفاده از کالای خریداری شده خسارت وارده را جبران نماید،
                                                    در غیر این صورت خریدار مصداق دقیق خیانت در امانت مورد پیگرد قانونی قرار خواهد گرفت.
                                                    </li>
                                                    <li style="font-size: medium;font-weight: bold;">
                                                    تحویل گیرنده کالا موظف است به منظور جلوگیری از هرگونه اختلاف حساب به محض تحویل کالا هر گونه
                                                    کم و کاست، شکستنی و یا خسارت احتمالی را به شرکت اعلام نماید تا جبران خسارت گردد، در غیر این صورت شرکت هیچگونه تعهدی نسبت به
                                                    موضوع فوق الذکر ندارد.
                                                    </li>
                                                </ul>

                                                <div class="row rtl">
                                                    <div class="col-lg-12">
                                                        <div class="card card-secondary-del card-outlines">
                                                            <table class="">
                                                                <tr class="text-center" style="height: 150px;">
                                                                    <td style="font-size: 16px;">نام و امضاء تحویل گیرنده:</td>
                                                                    <td style="font-size: 16px;">نام و امضاء تحویل دهنده:</td>
                                                                    <td style="font-size: 16px;">نام و امضاء انباردار:</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                            
                            
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->

        <!-- begin:: Topbar Offcanvas Panels -->

        <!-- begin::Offcanvas Toolbar Quick Actions -->
        <!-- <div id="kt_offcanvas_toolbar_quick_actions" class="kt-offcanvas-panel">
            <div class="kt-offcanvas-panel__head">
                <h3 class="kt-offcanvas-panel__title">
                    Quick Actions
                </h3>
                <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_quick_actions_close"><i
                        class="flaticon2-delete"></i></a>
            </div>
            <div class="kt-offcanvas-panel__body">
                <div class="kt-grid-nav-v2">
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Orders</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Uploades</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Products</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Customers</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Blog Posts</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Settings</div>
                    </a>
                </div>
            </div>
        </div> -->

        <!-- end::Offcanvas Toolbar Quick Actions -->

        <!-- end:: Topbar Offcanvas Panels -->

        <!-- begin:: Quick Panel -->
        
        <!-- end:: Scrolltop -->

        <!-- begin:: Demo Toolbar -->

        <!-- end:: Demo Toolbar -->


        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}
        <script>
            // Function to calculate the sum of all row-total, price, and total-discount values
    function calculateSums() {
        // Initialize sums to 0
        let rowTotalSum = 0;
        let priceSum = 0;
        let discountSum = 0;
    
        // Find all td elements with class "row-total" and sum their contents
        const rowTotalElements = document.querySelectorAll('.row-total');
        rowTotalElements.forEach(function(element) {
            const value = parseFloat(element.textContent);
            if (!isNaN(value)) {
                rowTotalSum += value;
            }
        });
    
        // Find all td elements with class "price" and sum their contents
        const priceElements = document.querySelectorAll('.price');
        priceElements.forEach(function(element) {
            const value = parseFloat(element.textContent);
            if (!isNaN(value)) {
                priceSum += value;
            }
        });
    
        // Find all td elements with class "total-discount" and sum their contents
        const discountElements = document.querySelectorAll('.total-discount');
        discountElements.forEach(function(element) {
            const value = parseFloat(element.textContent);
            if (!isNaN(value)) {
                discountSum += value;
            }
        });
    
        // Update the content of the td elements for the sums
        const grandRowTotalElement = document.querySelector('.grand-row-total');
        if (grandRowTotalElement) {
            grandRowTotalElement.innerHTML = rowTotalSum + " <small>ریال</small>";
        }
    
        const grandTotalPriceElement = document.querySelector('.grand-total-price');
        if (grandTotalPriceElement) {
            grandTotalPriceElement.innerHTML = priceSum + " <small>ریال</small>";
        }
    
        const grandTotalDiscountElement = document.querySelector('.grand-total-discount');
        if (grandTotalDiscountElement) {
            grandTotalDiscountElement.innerHTML = discountSum + " <small>ریال</small>";
        }
    }
    
    // Execute the function to calculate and display the sums
    calculateSums();
    
    
     
            </script>
        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>