{% load static %}
{% load converter_tags %}
<!DOCTYPE html>

<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="content-wrapper">
                                <div class="content-header">
                                    <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <ol class="breadcrumb float-sm ">
                                                <li class="breadcrumb-item active">مشتریان</li>
                                                <li class="breadcrumb-item">مشاهده استعلام </li>
                                            </ol>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-primary card-outline">
                                                    <div class="card-body">
                                                        <form role="form">
                                                            <div class="row ">
                                                                <div class="col-lg-12">
                                                                    <table class="table table-bordered table-striped dataTable table-hover ">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>کد استعلام</th>
                                                                                <th>نام و نام خانوادگی</th>
                                                                                <th>شهر</th>
                                                                                <th>تلفن</th>
                                                                                <th>موبایل</th>
                                                                                <th>بانک</th>
                            
                                                                                <th>وضعیت</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for inquiry in combined_data %}
                                                                                
                                                                                <tr>
                                                                                    <th>{{inquiry.0.inquiry_id}}</th>
                                                                                    {% if inquiry.0.account_owner == None %}
                                                                                    <th></th>
                                                                                    {% else %}
                                                                                    <th>{{inquiry.0.account_owner}}</th>
                                                                                    {% endif %}
                                                                                    {% if inquiry.1.city_id == None %}
                                                                                    <th></th>
                                                                                    {% else %}
                                                                                    <th>{{inquiry.1.city_id|id_to_city}}</th>
                                                                                    {% endif %}
                                                                                    {% if inquiry.1.phone == None %}
                                                                                    <th></th>
                                                                                    {% else %}
                                                                                    <th>{{inquiry.1.phone}}</th>
                                                                                    {% endif %}
                                                                                    {% if inquiry.1.mobile == None %}
                                                                                    <th></th>
                                                                                    {% else %}
                                                                                    <th>{{inquiry.1.mobile}}</th>
                                                                                    {% endif %}
                                                                                    {% if inquiry.0.bank_branch == None %}
                                                                                    <th></th>
                                                                                    {% else %}
                                                                                    <th>{{inquiry.0.bank_branch}}</th>
                                                                                    {% endif %}
                                                                                    {% if inquiry.0.confirm_status == 'CONFIRM' %}
                                                                                    <th> تائید</th>
                                                                                    {% elif inquiry.0.confirm_status == 'REJECT' %}
                                                                                    <th>رد</th>
                                                                                    {% elif inquiry.0.confirm_status == 'BACK' %}
                                                                                    <th>برگشت</th>
                                                                                    {% elif inquiry.0.confirm_status == 'COND_CONFIRM' %}
                                                                                    <th>تایید مشروط</th>
                                                                                    {% else %}
                                                                                    <th>نامشخص</th>
                                                                                    {% endif %}
                                                                                    {% if inquiry.0.confirm_status == 'REJECT' or inquiry.1.factor.reg_status == 'REJECT' %}
                                                                                    <td>
                                                                                        <form action="{% url 'customer:IndexInquiryResponse' %}" method="post">
                                                                                            {% csrf_token %}
                                                                                            <input type="hidden" name="inquiry_id" value="{{ inquiry.0.inquiry_id }}">
                                                                                            <button class="btn btn-success btn-sm btn-disabled btn-customer" disabled>ثبت فاکتور</button>
                                                                                            <input class="btn btn-danger btn-xs" type="submit" name="markAsViewed" value="مشاهده شد">
                                                                                        </form>
                                                                                    </td>
                                                                                    {% else %}
                                                                                    <td>

                                                                                        <form action="{% url 'customer:IndexInquiryResponse' %}" method="post">
                                                                                            {% csrf_token %}
                                                                                            <!-- <a class="btn btn-success btn-xs" href="#">ثبت فاکتور</a> -->
                                                                                            <input type="hidden" name="inquiry_id" value="{{ inquiry.0.inquiry_id }}">
                                                                                            <input class="btn btn-success btn-xs" type="submit" name="submitInvoice" value="ثبت فاکتور">
                                                                                            <!-- <button class="btn btn-success btn-sm btn-disabled btn-customer" disabled>ثبت فاکتور</button> -->
                                                                                            <input class="btn btn-danger btn-xs" type="submit" name="markAsViewed" value="مشاهده شد">
                                                                                            <!-- <a class="btn btn-danger btn-xs" href="#">مشاهده شد</a> -->
                                                                                        </form>

                                                                                        
                                                                                    </td>
                                                                                    {% endif %}
                                                                                </tr>
                                                                            {% endfor %}
                                                                        <tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->

        <!-- begin:: Topbar Offcanvas Panels -->

        <!-- begin::Offcanvas Toolbar Quick Actions -->
        <!-- <div id="kt_offcanvas_toolbar_quick_actions" class="kt-offcanvas-panel">
            <div class="kt-offcanvas-panel__head">
                <h3 class="kt-offcanvas-panel__title">
                    Quick Actions
                </h3>
                <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_quick_actions_close"><i
                        class="flaticon2-delete"></i></a>
            </div>
            <div class="kt-offcanvas-panel__body">
                <div class="kt-grid-nav-v2">
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Orders</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Uploades</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Products</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Customers</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Blog Posts</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Settings</div>
                    </a>
                </div>
            </div>
        </div> -->

        <!-- end::Offcanvas Toolbar Quick Actions -->

        <!-- end:: Topbar Offcanvas Panels -->

        <!-- begin:: Quick Panel -->
        
        <!-- end:: Scrolltop -->

        <!-- begin:: Demo Toolbar -->

        <!-- end:: Demo Toolbar -->


        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}

        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>