{% load converter_tags %}
{% load static %}
<!DOCTYPE html>

<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}
                       

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="content-wrapper">
                                <div class="content-header">
                                    <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <ol class="breadcrumb float-sm ">
                                                <li class="breadcrumb-item active">
                                                    مشتریان
                                                </li>
                                                <li class="breadcrumb-item">تایید استعلام </li>
                                            </ol>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-primary card-outline">
                                                    <div class="card-body">
                                                        <form role="form">
                                                            <div class="row {{ direction }}">
                                                                <div class="col-lg-12">
                                                                    <table class="table table-bordered table-striped dataTable table-hover {{ direction }}">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>کد استعلام</th>
                                                                                <th>ثبت کننده</th>
                                                                                <th>تاریخ ثبت</th>
                                                                                <th>نام و نام خانوادگی</th>
                                                                                <th>مالک حساب</th>
                                                                                <th>بانک</th>
                                                                                <th>شماره حساب</th>
                                                                                <th>شماره شبا</th>
                                                                                <th>بررسی</th>
                                                                                <th>توضیحات</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        
                                                                                {% for item in combined_data %}
                                                                                <tr>
                                                                                    <td>
                                                                                        {{item.0.inquiry_id}} 
                                                                                    </td>
                                                                                    <td>
                                                                                        {{item.0.register|register_user}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{item.0.reg_dt|to_jalali}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{item.0.account_owner}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{item.0.account_owner}}
                                                                                    </td>
                                                                                    {% if item.0.bank_branch == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>
                                                                                        {{item.0.bank_id|id_to_bank}}
                                                                                    </td>  
                                                                                    {% endif %}                                                                
                                                                                    <td>
                                                                                        {{item.0.account_no}}
                                                                                    </td>
                                                                                    {% if item.0.account_shaba == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>
                                                                                        {{item.0.account_shaba}}
                                                                                    </td>
                                                                                    {% endif %}
                                                                                    
                                                                                    {% if item.0.confirm_desc == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>
                                                                                        {{item.0.confirm_desc}}
                                                                                    </td>
                                                                                    {% endif %}
                                                                                    
                                                                                    {% if item.0.description == None %}
                                                                                    <td></td>
                                                                                    {% else %}
                                                                                    <td>
                                                                                        {{item.0.description}}
                                                                                    </td>
                                                                                    {% endif %}
                                                                                    <td>
                                                                                        <a class="btn btn-danger btn-sm btn-customer inq cursor-hand text-white" data-id="{{ forloop.counter }}" data-row-id="row-{{ forloop.counter }}">جزئیات</a>
                                                                                        <a class="btn btn-success btn-sm btn-customer text-white" data-inquiry-id="{{item.0.inquiry_id}}" data-toggle="modal" data-target="#modal-inquiry" id="open-inquiry-modal">پاسخ استعلام</a>
                                                                                    </td>
                                                                                </tr>
                                                                                

                                                                                <tr style="display: none;" class="gray" id="row-{{ forloop.counter }}" class="inq-data">
                                                                                    <td colspan="20">
                                                                                        <table style="width: 100%" id="myTable">
                                                                                            <tr>
                                                                                                <th>نام مشتری</th> <!--customer_sva-->
                                                                                                <td>
                                                                                                    {{item.1.name}}
                                                                                                </td>
                                                                                                <th>بانک</th><!--inquiry-->
                                                                                                <td>
                                                                                                    {{item.0.bank_id|id_to_bank}}
                                                                                                </td>
                                                                                                <th>مبلغ چک</th><!--inquiry-->
                                                                                                <td>
                                                                                                    <script>
                                                                                                        var chequePrice = {{item.0.cheque_price}};
                                                                                                        var formattedPrice = chequePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                                                                        document.write(formattedPrice);
                                                                                                    </script>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th>تلفن</th><!--customer_sva-->
                                                                                                <td>
                                                                                                    {{item.1.phone}}
                                                                                                </td>
                                                                                                <th>شعبه</th><!--inquiry-->
                                                                                                <td> 
                                                                                                    {{item.0.bank_branch}}
                                                                                                </td>
                                                                                                <th>تعداد چک</th><!--inquiry-->
                                                                                                <td>
                                                                                                    {{item.0.cheque_count}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th>موبایل</th><!--customer_sva-->
                                                                                                <td>
                                                                                                    {{item.1.mobile}}
                                                                                                </td>
                                                                                                <th>شماره حساب</th><!--inquiry-->
                                                                                                <td>
                                                                                                    {{item.0.account_no}}
                                                                                                </td>
                                                                                                <th>مالک</th><!--inquiry-->
                                                                                                <td>
                                                                                                    {{item.0.account_owner}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th>شهر</th><!--customer_sva-->
                                                                                                <td>
                                                                                                    {{item.1.city_id|id_to_city}}
                                                                                                </td>
                                                                                                <th>شبا</th><!--inquiry-->
                                                                                                <td>
                                                                                                    -
                                                                                                </td>
                                                                                                <th>کد ملی مالک</th><!--inquiry-->
                                                                                                <td>
                                                                                                    {{item.1.codemeli}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th>فروشگاه</th><!--customer_sva-->
                                                                                                <td>
                                                                                                    {{item.1.brand_name}}
                                                                                                </td>
                                                                                                <th>صیادی</th><!--inquiry-->
                                                                                                <td>
                                                                                                    {{item.0.account_sayadi}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th>آدرس</th><!---->
                                                                                                <td colspan="20">{{item.1.address}}</td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                        <tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal fade" id="modal-inquiry">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">استعلام</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            
                                    <form method="POST" action="{% url 'customer:IndexInquiry' %}" >
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <input type="hidden" name="inquiry_id" id="modal-inquiry-id" class="inquiry-id">                            
                                            <div class="form-group row">
                                                <div class="col-sm-8">
                                                <select class="form-control select2bs4 rtl text-right" style="width: 100%;" name="sms_inquiry" data-allow-clear="true">
                                                    <option value="5">سبز</option>
                                                    <option value="4">زرد</option>
                                                    <option value="3">نارنجی</option>
                                                    <option value="2">قرمز</option>
                                                    <option value="1">قهوه‌ای</option>
                                                </select>
                                                </div>
                                                <label for="sms_inquiry" class="col-sm-4 col-form-label">پاسخ استعلام پیامکی</label>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-8">
                                                <select class="form-control select2bs4 rtl text-right" style="width: 100%;" name="indirect_inquiry" data-allow-clear="true">
                                                    <option value="1">تایید</option>
                                                    <option value="0">رد</option>
                                                </select>
                                                </div>
                                                <label for="indirect_inquiry" class="col-sm-4 col-form-label">پاسخ استعلام تلفنی</label>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-8">
                                                <input type="text" name="confirm_desc" class="form-control rtl text-right" id="confirm_desc" placeholder="توضحیات" >
                                                </div>
                                                <label for="confirm_desc" class="col-sm-4 col-form-label">توضحیات</label>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-8">
                                                <select class="form-control select2bs4 rtl text-right" style="width: 100%;" name="confirm_status" data-allow-clear="true">
                                                    <option value="CONFIRM">تایید</option>
                                                    <option value="COND_CONFIRM">تایید مشروط</option>
                                                    <option value="REJECT">رد</option>
                                                </select>
                                                </div>
                                                <label for="confirm_status" class="col-sm-4 col-form-label">وضعیت استعلام</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                            <button type="submit" class="btn btn-primary">ثبت استعلام</button>
                                        </div>
                                    </form>
                            
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}
                    <script>
                        const detailLinks = document.querySelectorAll('.inq.cursor-hand');
                    
                        detailLinks.forEach(link => {
                            link.addEventListener('click', () => {
                                const rowId = link.getAttribute('data-id');
                                const targetRow = document.getElementById(`row-${rowId}`);
                    
                                if (targetRow.style.display === 'none') {
                                    targetRow.style.display = 'table-row';
                                } else {
                                    targetRow.style.display = 'none';
                                }
                            });
                        });
                    </script>
                    <script>
                        const buttonElement = document.getElementById('open-inquiry-modal');

                        // Get the hidden input element by its ID
                        const hiddenInputElement = document.getElementById('modal-inquiry-id');

                        // Add a click event listener to the button
                        buttonElement.addEventListener('click', function() {
                            // Get the value of data-inquiry-id attribute from the button
                            const inquiryId = buttonElement.getAttribute('data-inquiry-id');

                            // Set the value in the hidden input element
                            hiddenInputElement.value = inquiryId;
                        });
                    </script>
                    
                    
                    
                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->

        <!-- begin:: Topbar Offcanvas Panels -->

        <!-- begin::Offcanvas Toolbar Quick Actions -->
        <!-- <div id="kt_offcanvas_toolbar_quick_actions" class="kt-offcanvas-panel">
            <div class="kt-offcanvas-panel__head">
                <h3 class="kt-offcanvas-panel__title">
                    Quick Actions
                </h3>
                <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_quick_actions_close"><i
                        class="flaticon2-delete"></i></a>
            </div>
            <div class="kt-offcanvas-panel__body">
                <div class="kt-grid-nav-v2">
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Orders</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Uploades</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Products</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Customers</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Blog Posts</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Settings</div>
                    </a>
                </div>
            </div>
        </div> -->

        <!-- end::Offcanvas Toolbar Quick Actions -->

        <!-- end:: Topbar Offcanvas Panels -->

        <!-- begin:: Quick Panel -->
        
        <!-- end:: Scrolltop -->

        <!-- begin:: Demo Toolbar -->

        <!-- end:: Demo Toolbar -->


        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}
        <script>
        
        </script>
            
        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>