<!DOCTYPE html>
<!-- 
    Find out what the use of this is because the customers list has a button for popup that adds customers
 -->
<html lang="fa">

    <!-- begin::Head -->

    {% include "partials/head.html" %}


    <!-- end::Head -->

    <!-- begin::Body -->

    <body
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->

        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->
                {% include "partials/sidebar.html" %}


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->

                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}

                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <div class="content-wrapper">
                                <div class="content-header">
                                    <div class="container-fluid">
                                    <div class="row mb-2">
                                         <div class="col-sm-12">
                                            <h1 class="m-0 text-dark "> / </h1>
                                        </div> 
                            
                                        <div class="col-sm-12">
                                            <ol class="breadcrumb float-sm-right ">
                                                <li class="breadcrumb-item active"></li>
                                                <li class="breadcrumb-item"></li>
                                            </ol>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-primary card-outline">
                                                    <div class="card-body">
                                                                <form role="form" method="POST" action="">
                                                                <form role="form" method="POST" action="">
                            
                                                            <div class="row ">
                                                                <div class="col-lg-4">
                                                                     <div class="form-group">
                                                                        <label for="exampleInputEmail1"></label>
                                                                        <input type="text" name="obj__name" class="form-control" id="exampleInputEmail1" placeholder="" value="">
                                                                    </div> 
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">نام و نام خانوادگی</label>
                                                                        <input type="text" name="o__title" class="form-control" id="exampleInputEmail1" placeholder="نام و نام خانوادگی" value="">
                                                                    </div>
                                                                     <div class="form-group">
                                                                        <label for="exampleInputEmail1"></label>
                                                                        <select class="form-control select2bs4" style="width: 100%;" name="obj__status">
                                                                            <option value="1"></option>
                                                                            <option value="0"></option>
                                                                        </select>
                                                                    </div> 
                                                                    
                                                                        <div class="form-group">
                                                                            <label for="exampleInputEmail1"></label>
                            
                                                                            
                                                                                <select class="form-control select2bs4" style="width: 100%;" name="" data-placeholder="انتخاب " data-allow-clear="true">
                                                                                    
                                                                                        <option value=""></option>
                                                                                </select>
                                                                                <input type="text" name="" class="form-control" id="" placeholder="" value="">
                                                                                <input type="text" name="" class="form-control" id="" placeholder="" value="">
                            
                                                                        </div>
                                                                            </div>
                                                                            <div class="col-lg-4">
                                                                        
                                                                </div>
                                                            </div><!-- /row -->
                                                            <div class="row">
                                                                <div class="col-12">
                                                                <a href="" class="btn btn-secondary"></a>
                                                                <input type="submit" value="" class="btn btn-success float-right">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}

                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->

        <!-- begin:: Topbar Offcanvas Panels -->

        <!-- begin::Offcanvas Toolbar Quick Actions -->
        <!-- <div id="kt_offcanvas_toolbar_quick_actions" class="kt-offcanvas-panel">
            <div class="kt-offcanvas-panel__head">
                <h3 class="kt-offcanvas-panel__title">
                    Quick Actions
                </h3>
                <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_quick_actions_close"><i
                        class="flaticon2-delete"></i></a>
            </div>
            <div class="kt-offcanvas-panel__body">
                <div class="kt-grid-nav-v2">
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Orders</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Uploades</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Products</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Customers</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Blog Posts</div>
                    </a>
                    <a href="#" class="kt-grid-nav-v2__item">
                        <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                        <div class="kt-grid-nav-v2__item-title">Settings</div>
                    </a>
                </div>
            </div>
        </div> -->

        <!-- end::Offcanvas Toolbar Quick Actions -->

        <!-- end:: Topbar Offcanvas Panels -->

        <!-- begin:: Quick Panel -->
        
        <!-- end:: Scrolltop -->

        <!-- begin:: Demo Toolbar -->

        <!-- end:: Demo Toolbar -->


        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}

        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>