{% load static %}
<!DOCTYPE html>
<html lang="fa">

    <!-- begin::Head -->
    {% include "partials/head.html" %}

    <!-- end::Head -->
                            
    <!-- begin::Body -->

    <body dir="rtl"
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->
        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->

                <!-- end:: Aside Brand -->

                <!-- begin:: Aside Menu -->
                {% include "partials/sidebar.html" %}           <!-- {%EXtends -->

                <!-- end:: Aside Menu -->

                <!-- begin:: Aside Footer -->


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->
                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}
                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <!--begin::Dashboard 1-->

                            <!-- -----------------------------------------------Start Primary Content----------------------------------------------- -->

                            <div ng-controller="TicketCtrl">
                                <div class="content-wrapper">
                                    <div class="content-header">
                                        <div class="container-fluid">
                                            <div class="row mb-2">
                                                <div class="col-sm-12">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="content">
                                        <div class="container-fluid">
                                            <div class="row rtl">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="card card-primary card-outline">
                                                        <div class="card-header">
                                                            تمام تیکت‌ها
                                                        </div>
                                                        <div class="card-body">
                                                            <table class="table table-bordered" style="table-layout: fixed;">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="background-color: #1e1235; color: white;" class="text-center">آمار تیکت‌ها</th>
                                                                        <!-- ticket statuses for loop is needed here -->
                                                                        {% for item in statuses %}
                                                                        <th style="text-align: center; border-left: solid grey 0.5px; font-weight: bold;" >
                                                                        {{item.name}}
                                                                        </th>
                                                                        {% endfor %}
                                                                        <!-- ticket statuses loop ends here -->
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for category, status_counts in ticket_counts.items %}
                                                                    <tr>
                                                                        
                                                                        <td style="font-weight: bold;" class="text-left">{{ category.name }}</td>
                                                                        <!-- statuseses ticket number for category are defined as a loop here -->
                                                                        {% for status, count in status_counts.items %}
                                                                        <td style="text-align: center; border-left: solid grey 0.5px; font-size: larger;" class="text-center">
                                                                            <a href="#">{{ count }}</a>        <!--also a conditional or a template tag needed to account for zeros-->
                                                                        </td>
                                                                        {% endfor %}
                                                                        <!-- for loop for category statuses and data ends here -->
                                                                    </tr>
                                                                    {% endfor %}
                                                                    <!-- category loop ends here -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div><!-- /card card-primary card-outline -->
                                                    <div class="card card-primary card-outline">
                                                        <div class="card-header">
                                                            انجام دهندگان تیکت‌ها
                                                        </div>
                                                        <div class="card-body">
                                                            <table class="table table-bordered" style="table-layout: fixed;">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="2" style="background-color: #1e1235; color: white;" class="text-center">آمار تیکت‌ها</th>
                                                                        <!-- for loop for statuseses in general here  -->
                                                                        {% for item in statuses %}
                                                                        <th  style="text-align: center; border-left: solid grey 0.5px; font-weight: bold;" class="text-center">{{item.name}}</th> 
                                                                        <!-- for loop for statuseses ends here -->
                                                                        {% endfor %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for user, status_counts in ticket_counts_users.items %}
                                                                    <!-- a for loop for users is needed here -->
                                                                    <tr>
                                                                        <td rowspan="4" style="font-weight: bold;"  class="text-center">{{user.name}}</td><!--user name is inserted here-->
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="font-weight: bold;" class="text-center">انجام دهنده</td>
                                                                        <!-- for loop for the number of tickets  regarding statuses the number of tickets that are assigned to this user -->
                                                                        {% for status, count in status_counts.items %}
                                                                        <td  style="text-align: center; border-left: solid grey 0.5px; font-size: larger;" class="text-center">    
                                                                            <a href="#">{{ count }}</a>
                                                                        </td>
                                                                        {% endfor %}
                                                                        <!-- end for loop for statuses on ticket doer -->
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="font-weight: bold;" class="text-center">همکار</td>
                                                                        <!-- for loop needed here for statuses -->
                                                                        <td colspan="7" style="text-align: center; border-left: solid grey 0.5px; font-size: larger;" class="text-center">
                                                                            <a href="#"></a>
                                                                        </td>
                                                                        <!-- end for loop for statuses -->
                                                                    </tr>
                                                                    <tr style="border-bottom: 1px solid black;">
                                                                        <td style="font-weight: bold;" class="text-center">مشاهده</td>
                                                                        <!-- for loop for statuses on user ticket url -->
                                                                        <td colspan="7" style="text-align: center; border-left: solid grey 0.5px; font-size: larger;" class="text-center">
                                                                            <a href="#"></a>
                                                                        </td>
                                                                        <!-- end for loop for user ticket statuses url -->
                                                                    </tr>
                                                                    <!-- end for loop for user -->
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
    
                                                        </div>
                                                    </div><!-- /card card-primary card-outline -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <!-- -----------------------------------------------End Primary Content----------------------------------------------- -->


                            <!--end::Dashboard 1-->
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}
                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->






        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}
        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>