{% load static %}
{% load converter_tags %}
{% load connection_tags %}
{% load filter_tags %}
<!DOCTYPE html>
<html lang="fa">

    <!-- begin::Head -->
    {% include "partials/head.html" %}

    <!-- end::Head -->

    <!-- begin::Body -->

    <body dir="rtl"
        class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

        <!-- begin:: Header Mobile -->
        {% include "partials/MobileHeader.html" %}

        <!-- end:: Header Mobile -->

        <!-- begin:: Root -->
        <div class="kt-grid kt-grid--hor kt-grid--root">

            <!-- begin:: Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

                <!-- begin:: Aside -->

                <!-- end:: Aside Brand -->

                <!-- begin:: Aside Menu -->
                {% include "partials/sidebar.html" %}

                <!-- end:: Aside Menu -->

                <!-- begin:: Aside Footer -->


                <!-- end:: Aside -->

                <!-- begin:: Wrapper -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                    <!-- begin:: Header -->
                    {% include "partials/header.html" %}
                    <!-- end:: Header -->
                    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                        <!-- begin:: Subheader -->
                        {% include "partials/subheader.html" %}
                        <!-- end:: Subheader -->

                        <!-- begin:: Content -->
                        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                            <!--begin::Dashboard 1-->

                            <!-- -----------------------------------------------Start Primary Content----------------------------------------------- -->



                        <form class="kt-form kt-form--label-right" method="POST" action="{% url 'ticket:viewTicket' ticket.ticket_id %}">
                            {% csrf_token %}

                            <!--begin::Row-->
                            <div class="row">
                                <div class="col-xl-3 col-lg-3">

                                    <!--begin::Portlet-->
                                    <div class="kt-portlet kt-align-center">

                                        <div class="kt-widget-15__body kt-margin-t-20 kt-margin-b-20">
                                            <div class="kt-widget-15__author">
                                                <div class="kt-widget-15__photo">
                                                    <a href="#"><img src="{% static '/media/blog/1.png' %}" alt="" height="100" width="100"
                                                            title="" /></a>
                                                </div>
                                                <div class="kt-widget-15__detail kt-margin-t-20">
                                                    <h4 class="kt-widget-15__name">انجام دهنده</h4>
                                                    <div class="kt-widget-15__desc">
                                                        {{ticket|data_extraction_Ticket_assign}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--end::Portlet-->
                                    <hr class=" kt-separator kt-margin-t-10 kt-margin-b-20">

                                    <div class="kt-portlet kt-align-center">

                                        <div class="kt-widget-15__body kt-margin-t-20 kt-margin-b-20">

                                            <button type="button" class="btn btn-outline-success kt-font-boldest" data-toggle="modal"
                                                data-target="#exampleModal">
                                                انجام دهنده جدید
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="form">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">انتخاب انجام
                                                                دهنده جدید
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div class="form-group">

                                                                <select class="form-control"  name="doer">

                                                                    {% for doer in doers %}
                                                                    <option value="{{doer.user_id}}">{{doer.name}}</option>
                                                                    {% endfor %}

                                                                </select>

                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-brand"
                                                                data-dismiss="modal">بستن</button>
                                                            <button type="submit" class="btn btn-brand">انتخاب</button>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            {% if ticket_doers == None %}
                                            <div class="kt-margin-t-10">
                                                <span class="badge badge-info">in</span>
                                            </div>
                                            {% else %}
                                                {% for item in ticket_doers%}
                                                <div class="kt-margin-t-10">
                                                    <span class="badge badge-info">{{item.doer|ticket_doer_register}}</span>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <!--end::Portlet-->
                                </div>
                                <div class="col-xl-9 col-lg-9">

                                    <!--begin::Portlet-->
                                    <div class="kt-portlet">

                                        <div class="kt-portlet__body">

                                            <div class="d-flex">
                                                
                                                <div class="dropdown mr-1">
                                                    <select class="btn btn-success btn-sm kt-font-boldest" id="dropdownMenuOffset1" name="status">
                                                        <option value="{{ticket.status.ticket_system_status_id}}">  وضعیت : {{ticket.status.name}} </option>
                                                        {% for item in status %}
                                                            {% if item.name != ticket.status.name %}
                                                                <!-- Render the item -->
                                                                <option value="{{item.ticket_system_status_id}}">{{item.name}}</option>
                                                            {% endif %}
                                                        
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                
                                                <div class="dropdown mr-1">
                                                    <select class="btn btn-success btn-sm dropdown-toggle kt-font-boldest" id="dropdownMenuOffset2"
                                                        data-toggle="dropdown" name="priority" aria-haspopup="false" aria-expanded="false" data-offset="10,20">
                                                        <option value="{{ticket.priority.ticket_system_priority_id}}">اولویت : {{ticket.priority.name}}</option>
                                                        {% for item in priority %}
                                                            {% if item.name != ticket.priority.name %}
                                                                <!-- Render the item -->
                                                                <option value="{{item.ticket_system_priority_id}}">{{item.name}}</option>
                                                            {% endif %}
                                                        
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                
                                                <div class="dropdown mr-1">
                                                    <select class="btn btn-success btn-sm kt-font-boldest" id="dropdownMenuOffset3" name="type">
                                                        <option value="{{ticket.type.ticket_system_type_id}}">نوع : {{ticket.type.name}} </option>
                                                        {% for item in type %}
                                                            {% if item.name != ticket.type.name %}
                                                                <!-- Render the item -->
                                                                <option value="{{item.ticket_system_type_id}}">{{item.name}}</option>
                                                            {% endif %}
                                                        
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                
                                                <div class="dropdown mr-1">
                                                    <select class="btn btn-success btn-sm kt-font-boldest" id="dropdownMenuOffset4" name="source">
                                                        <option value="{{ticket.source.ticket_system_source_id}}">منبع: {{ticket.source.name}}</option>
                                                        {% for item in source %}
                                                            {% if item.name != ticket.source.name %}
                                                                <!-- Render the item -->
                                                                <option value="{{item.ticket_system_source_id}}">{{item.name}}</option>
                                                            {% endif %}
                                                        
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                
                                                <div class="dropdown mr-1">
                                                    <select class="btn btn-success btn-sm kt-font-boldest" id="dropdownMenuOffset5" name="category">
                                                        <option value="{{ticket.category.ticket_system_category_id}}">واحد : {{ticket.category.name}}</option>
                                                        {% for item in category %}
                                                            {% if item.name != ticket.category.name %}
                                                                <!-- Render the item -->
                                                                <option value="{{item.ticket_system_category_id}}">{{item.name}}</option>
                                                            {% endif %}
                                                        
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                
                                                




                                            </div>

                                        </div>
                                    </div>

                                    <!--end::Portlet-->

                                    <!--begin::Portlet-->
                                    <div class="kt-portlet">

                                        <div class="kt-portlet__body">
                                            <div>
                                                <ul class="nav nav-pills" role="tablist">
                                                    <li class="nav-item ">
                                                        <a class="nav-link active kt-font-boldest" data-toggle="tab"
                                                            href="#kt_tabs_6_1"><i class="la la-gear"></i>گزارشات</a>
                                                    </li>

                                                    
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active kt-font-boldest" id="kt_tabs_6_1" role="tabpanel">


                                                        <!--Begin::Timeline -->
                                                        <div class="kt-timeline">

                                                            <form class="kt-form kt-form--label-right">
                                                                <input type="text" name="summary" class="custom-input" value="{{ ticket.summary }}"/>/
                                                                <input type="text" name="family" class="custom-input" value="{{ ticket.family }}"/>
                                                                <div class="kt-portlet__body">
                                                                    <div class="form-group row">
                                                                                <div style="padding-bottom: 2em;">
                                                                                    {{ticket.body}}
                                                                                </div>
                                                                                
                                                                                
                                                                        <div
                                                                            class="col-lg-12 col-md-12 col-sm-12 is-valid validate">
                                                                            <textarea name="ticket_comment"
                                                                                class="form-control"
                                                                                data-provide="markdown"
                                                                                rows="5"> </textarea>
                                                                                
                                                                        </div>

                                                                    </div>
                                                                    
                                                                </div>

                                                            
                                                            <div>
                                                                <button type="submit"
                                                                    class="btn btn-primary">ثبت رویداد</button>
                                                                <button type="reset"
                                                                    class="btn btn-secondary">پاک کردن
                                                                    متن</button>
                                                            </div>
                                                            {% if comments == None %}
                                                                No comment available
                                                            {% else %}
                                                            {% for comment in comments %}
                                                            <!--Begin::Item -->
                                                            <div class="kt-timeline__item kt-timeline__item--success">
                                                                <div class="kt-timeline__item-section">
                                                                    <div class="kt-timeline__item-section-border">
                                                                        <div class="kt-timeline__item-section-icon">
                                                                            <i
                                                                                class="flaticon-psd  kt-font-success"></i>
                                                                        </div>
                                                                    </div>
                                                                    <span class="kt-timeline__item-datetime">
                                                                        <span
                                                                            class="badge badge-warning" style="font-size: medium;">{{comment.reg_dt|to_jalali}}</span></span>
                                                                </div>
                                                                <p href="" class="kt-timeline__item-text kt-font-bold">
                                                                    {{comment|html_fix|default:"No comment available"}}
                                                                </p>
                                                                <div class="kt-timeline__item-info">
                                                                {{comment.register|ticket_comment_register}}
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            {% endif %}
                                                            <!--End::Item -->

                                                            


                                                        </div>

                                                        <!--End::Timeline -->



                                                    </div>

                                                    
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        
                            <!--end::Row-->

                            <!-- -----------------------------------------------End Primary Content----------------------------------------------- -->
                        </form>

                            <!--end::Dashboard 1-->
                        </div>

                        <!-- end:: Content -->
                    </div>

                    <!-- begin:: Footer -->
                    {% include "partials/footer.html" %}
                    <!-- end:: Footer -->
                </div>

                <!-- end:: Wrapper -->
            </div>

            <!-- end:: Page -->
        </div>

        <!-- end:: Root -->






        <!-- begin::Global Config(global config for global JS sciprts) -->
        {% include "partials/script.html" %}
        <!-- <script src="{% static 'js/ajax.js' %}"></script> -->

        <!--end::Page Scripts -->
    </body>

    <!-- end::Body -->

</html>